<ion-content>
  <ion-toolbar text-center>
    <h1>{{ name }}'s Profile</h1>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="closeModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-grid padding-top>
    <ion-row>
      <ion-col size="12">
        <ion-header text-center>
          <img src="{{ photoURL }}">
        </ion-header>
        <ion-item>{{ name }}</ion-item>
        <ion-item-divider>
          <ion-label>Phone: </ion-label>
        </ion-item-divider>
        <ion-item>
          {{ phone }}
        </ion-item>
        <ion-item-divider>
          <ion-label>Email: </ion-label>
        </ion-item-divider>
        <ion-item>
          {{ email }}
        </ion-item>
        <ion-item-divider>
          <ion-label>Address: </ion-label>
        </ion-item-divider>
        <ion-item class="ion-text-wrap">
          {{ address }} {{ cityStateZip }}
        </ion-item>
        <ion-item-divider>
          <ion-label>Resident Since: </ion-label>
        </ion-item-divider>
        <ion-item>
          {{ residentSince }}
        </ion-item>
        <div *ngIf="showBirthDate">
          <ion-item-divider>
            <ion-label>Birthday: </ion-label>
          </ion-item-divider>
          <ion-item>
            {{ birthDate | date:'longDate' }}
          </ion-item>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button fill="clear" (click)="closeModal()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-content>
