<ion-grid padding-top>
  <ion-row>
    <ion-col size="2"></ion-col>
    <ion-col size="8">
      <ion-header text-center padding>
        Add a New Event
      </ion-header>
      <form [formGroup]="eventForm" (ngSubmit)="onSubmitForm()">
        <ion-item>
          <ion-label position="floating">Event Title</ion-label>
          <ion-input type="text" formControlName="title" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Event SubTitle</ion-label>
          <ion-input type="text" formControlName="subTitle" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Start Time</ion-label>
          <ion-input type="text" formControlName="startTime" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">End Time</ion-label>
          <ion-input type="text" formControlName="endTime" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Event Details</ion-label>
          <ion-textarea formControlName="details" required></ion-textarea>
        </ion-item>
        <ion-button type="submit" [disabled]="!eventForm.valid" >
          Submit
        </ion-button>
      </form>
    </ion-col>
    <ion-col size="2"></ion-col>
  </ion-row>
</ion-grid>
