<ion-grid padding-top>
  <ion-row>
    <ion-col size="2"></ion-col>
    <ion-col size="8">
      <ion-header text-center padding>
        <ion-toolbar>
          <ion-title>Add a New Event</ion-title>
          <ion-thumbnail ><img src="{{ photoURL }}"></ion-thumbnail>
        </ion-toolbar>
        <ion-button (click)="toggleUploader()">Change Picture</ion-button>
      </ion-header>
      <app-uploader-file *ngIf="editEventPic" [fileFolder]="folderName"></app-uploader-file>
      <ion-button *ngIf="editEventPic"
                  (click)="confirmNewPhoto()">Confirm Your Event Picture</ion-button>
      <form [formGroup]="eventForm" (ngSubmit)="onCreateEvent()">
        <ion-item>
          <ion-label position="floating">Event Title</ion-label>
          <ion-input type="text" formControlName="title" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Event SubTitle</ion-label>
          <ion-input type="text" formControlName="subTitle" required></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Event Details</ion-label>
          <ion-textarea formControlName="details" required></ion-textarea>
        </ion-item>
        <ion-item>
          <ion-datetime picker-format="MMM DD YYYY h:mm A"
                        display-format="MMM DD YYYY h:mm A"
                        placeholder="Start Date/Time"
                        formControlName="startTime">
          </ion-datetime>
        </ion-item>
        <ion-item>
          <ion-datetime picker-format="MMM DD YYYY h:mm A"
                        display-format="MMM DD YYYY h:mm A"
                        placeholder="End Date/Time"
                        formControlName="endTime">
          </ion-datetime>
        </ion-item>
        <ion-button type="submit" [disabled]="!eventForm.valid" >
          Submit
        </ion-button>
      </form>
    </ion-col>
    <ion-col size="2"></ion-col>
  </ion-row>
</ion-grid>
