<ion-content>
  <ion-toolbar text-center>
    <h1>Dinner Groups & Cocktail Parties</h1>
    <ion-buttons slot="end">
      <ion-button shape="round" size="small" fill="solid"
                  color="warning" (click)="closeModal()">
        Close
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-grid padding-top>
    <ion-row>
      <ion-col size="12">
        <ion-header text-center>
          <ion-img src="/assets/MerryFolk2.jpg"></ion-img>
        </ion-header>
      </ion-col>
      <ion-col size="12" padding-top>
        <p>
          A group of LGBT residents, friends and family members. This is an old time tradition in the
          Forest to help create an all-inclusive group of neighbors and friends for various casual drinks
          and/or dinner out on the town. Just a group, known to have a good time, a bunch of laughs and
          supporting various causes from time to time but most of the time making sure our glasses are
          full.
        </p>
        <blockquote>
          For more information any time, contact:<br>
          communications@sherwoodforestatl.org<br>
        </blockquote>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button shape="round" size="small" fill="solid"
                  color="warning" (click)="closeModal()">
        Close
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-content>