<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start" color="primary"></ion-menu-button>
    <ion-img slot="start" src="/assets/sfca-logo.jpg" (click)="goHome()"></ion-img>
    <ion-title>Member Access</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row class="align-items-center">
      <ion-col class="ion-text-center">
        <ion-card style="height: 80vh;">
          <ion-button *ngIf="!(loggedIn$ | async)" (click)="presentLoginModal()">Login Here</ion-button>
          <ion-button *ngIf="loggedIn$ | async" (click)="presentLogoutModal()">Logout Here</ion-button>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
