.ql-editor {
  -webkit-user-select: text;
  user-select: text;
  .ql-align-right {
    text-align: right;
  }
  
  .ql-align-center {
    text-align: center;
  }
  
  .ql-align-left {
    text-align: left;
  }
}

.invisible-input-cont input {
  width: 0px;
  height: 0px;
}

.group-buttons {
  margin-top: 1em;
  border: 2px solid var(--ion-color-primary);
  border-radius: 10px;
}

.warning-color {
  color: var(--ion-color-danger);
}