<ion-content>
  <ion-toolbar class="ion-text-center">
    <ion-buttons slot="end">
      <ion-button *ngIf="eventState == 'edit'; else closeButton"shape="round" size="small"
                  fill="solid"
                  color="warning" (click)="closeModal()">
        Cancel
      </ion-button>
      <ng-template #closeButton>
        <ion-button shape="round" size="small" fill="solid"
                    color="warning" (click)="closeModal()">
          Close
        </ion-button>
      </ng-template>
    </ion-buttons>
  </ion-toolbar>
  <div *ngIf="eventState == 'edit'; then editEvent else viewEvent"></div>
  <ng-template #editEvent>
    <app-event-form
            [eventInfo]="eventForm.value" (eventSubmitted)="doneCloseModal()"></app-event-form>
  </ng-template>
  <ng-template #viewEvent>
    <ion-grid class="ion-padding-top">
      <ion-row>
        <ion-col size="12">
          <form [formGroup]="eventForm">
            <ion-header class="ion-text-center">
              <img src="{{ photoURL }}">
            </ion-header>
            <ion-item><h1>{{ title }}</h1></ion-item>
            <ion-item>
              <p>{{ startTime | date:'mediumDate' }}<br>
                {{ startTime | date:'shortTime' }} - {{ endTime | date:'shortTime' }}</p>
            </ion-item>
            <ion-item>
              {{ subTitle }}
            </ion-item>
            <ion-item-divider>
              <ion-label>Details:</ion-label>
            </ion-item-divider>
            <ion-item class="ion-text-wrap">
              {{ details }}
            </ion-item>
            <ion-button *ngIf="documentURL" (click)="getEventDoc(documentURL)">
              Event Document
            </ion-button>
          </form>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ng-template>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button *ngIf="eventState == 'edit'; else closeButton"shape="round" size="small"
                  fill="solid"
                  color="warning" (click)="closeModal()">
        Cancel
      </ion-button>
      <ng-template #closeButton>
        <ion-button shape="round" size="small" fill="solid"
                    color="warning" (click)="closeModal()">
          Close
        </ion-button>
      </ng-template>
    </ion-buttons>
  </ion-toolbar>
</ion-content>
