<ion-header>
  <ion-toolbar mode="md">
    <ion-buttons slot="start">
      <ion-menu-button color="primary"></ion-menu-button>
    </ion-buttons>
    <img slot="start" width="139px" height="85px" src="/assets/sfca-logo.jpg" (click)="goHome()">
    <ion-title slot="start" color="secondary">Documents</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="outline" shape="round" color="tertiary" (click)="logOut()">Logout</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="goToMember()">
      <ion-icon name="arrow-back-circle"></ion-icon>
    </ion-fab-button>
    &nbsp;Member
  </ion-fab>
  <ion-grid>
    <ion-row>
      <ion-col size="12" class="ion-text-center home-image">
        <h1 class="islands-title">Resident Documents</h1>
      </ion-col>
      <ion-col size="12">
        <ion-list>
          <ion-list-header>
            <ion-label>Business</ion-label>
          </ion-list-header>
            <ion-item lines="none"
            href="https://firebasestorage.googleapis.com/v0/b/sherwood-forest-5b7f0.appspot.com/o/documents%2FSFCA%20BYLAWS%20%2003252020.pdf?alt=media&token=eacd4082-2336-4a03-8836-6f3e6e787e47" 
            target="_blank">
              <ion-icon slot="start" name="briefcase"></ion-icon>
              <ion-label>
                SFCA Bylaws
              </ion-label>
            </ion-item>
            <ion-item lines="none"
            href="https://firebasestorage.googleapis.com/v0/b/sherwood-forest-5b7f0.appspot.com/o/documents%2FSpring%20Minutes%20042389%20revised%202.pdf?alt=media&token=122a467f-ee11-4bc4-81ed-b590926ec528" 
            target="_blank">
              <ion-icon slot="start" name="clipboard-outline"></ion-icon>
              <ion-label>
                SFCA Semi-Annual Minutes 4/23/19
              </ion-label>
            </ion-item>
            <ion-item lines="none"
            href="https://firebasestorage.googleapis.com/v0/b/sherwood-forest-5b7f0.appspot.com/o/documents%2FSFCAMinutes102219.pdf?alt=media&token=94e489a1-06c6-4506-ba0e-0eb5037d1b29" 
            target="_blank">
              <ion-icon slot="start" name="clipboard-outline"></ion-icon>
              <ion-label>
                SFCA Semi-Annual Minutes 10/22/19
              </ion-label>
            </ion-item>
            <ion-item lines="none"
            href="https://firebasestorage.googleapis.com/v0/b/sherwood-forest-5b7f0.appspot.com/o/minutes%2FSherwood%20Forest%20Civic%20Association%2011_10_2020_v3.pdf?alt=media&token=60b5d775-b1fb-4946-8f0f-15571a33d32e" 
            target="_blank">
              <ion-icon slot="start" name="clipboard-outline"></ion-icon>
              <ion-label>
                SFCA Semi-Annual Minutes 11/10/20 (Zoom Meeting)
              </ion-label>
            </ion-item>
        </ion-list>
        <ion-list>
          <ion-list-header>
            <ion-label>Filming</ion-label>
          </ion-list-header>
            <ion-item lines="none" 
            href="https://firebasestorage.googleapis.com/v0/b/sherwood-forest-5b7f0.appspot.com/o/documents%2FFilmingCodeOfConduct.pdf?alt=media&token=8a22b996-803c-4cb5-b84a-e6bc05fd34cb"
            target="_blank">
              <ion-icon slot="start" name="film"></ion-icon>
              <ion-label>
                Filming Code of Conduct
              </ion-label>
            </ion-item>
            <ion-item lines="none" href="https://firebasestorage.googleapis.com/v0/b/sherwood-forest-5b7f0.appspot.com/o/documents%2FProducerGuidelines.pdf?alt=media&token=03769db6-bba9-4298-93a2-9bb2fcd70d86"
            target="_blank">
              <ion-icon slot="start" name="film"></ion-icon>
              <ion-label>
                Producer Guidelines
              </ion-label>
            </ion-item>
        </ion-list>
        <ion-list>
          <ion-list-header>
            <ion-label>Tree Watch</ion-label>
          </ion-list-header>
            <ion-item lines="none" 
            href="https://firebasestorage.googleapis.com/v0/b/sherwood-forest-5b7f0.appspot.com/o/documents%2FNativeTreesGeorgia.pdf?alt=media&token=804efdfd-b9ce-42e3-9052-5e0136d899f4"
            target="_blank">
              <ion-icon slot="start" name="leaf"></ion-icon>
              <ion-label>
                Native Trees of Georgia
              </ion-label>
            </ion-item>
        </ion-list>
        <ion-list>
          <ion-list-header>
            <ion-label>Web Application</ion-label>
          </ion-list-header>
            <ion-item lines="none" 
            href="https://firebasestorage.googleapis.com/v0/b/sherwood-forest-5b7f0.appspot.com/o/documents%2FPWA-Instructions-Apple.pdf?alt=media&token=a74d66db-f185-4951-ab9d-0f06124beb5b"
            target="_blank">
              <ion-icon slot="start" name="phone-portrait"></ion-icon>
              <ion-label>
                Add to iPhone Instructions
              </ion-label>
            </ion-item>
            <ion-item lines="none" href="https://firebasestorage.googleapis.com/v0/b/sherwood-forest-5b7f0.appspot.com/o/documents%2FPWA-Instructions-Android.pdf?alt=media&token=b93231b8-8214-4a18-ba89-355a9ea87c24"
            target="_blank">
              <ion-icon slot="start" name="phone-portrait"></ion-icon>
              <ion-label>
                Add to Android Instructions
              </ion-label>
            </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <app-footer></app-footer>
  </ion-grid>
</ion-content>
