<ion-content>
  <ion-toolbar text-center>
    <h1>Garden Club</h1>
    <ion-buttons slot="end">
      <ion-button shape="round" size="small" fill="solid"
                  color="warning" (click)="closeModal()">
        Cancel
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-grid padding-top>
    <ion-row>
      <ion-col size="12">
        <ion-header text-center>
          <ion-img src="/assets/BotanicalGardens2.jpg"></ion-img>
        </ion-header>
      </ion-col>
      <ion-col size="12" padding-top>
        <p>
          The Sherwood Forest Garden Club was founded as the neighborhood got started in the
          early 1950s. It continues to bring neighbors together, furthering knowledge about
          gardening and horticulture, and fostering friendships among neighbors. It also gives
          Members an opportunity to visit the lovely homes of the Forest as we rotate meetings
          among ourselves.
        </p>
        <p>
          We meet the last Friday of the each month with the exception of June, July, August and
          December. We normally gather for coffee and snacks at 10:30 to Noon. Occasionally a
          meeting will involve a luncheon, with volunteers contributing to the set up and food.
          Members rotate in hosting the meetings and providing food, so that it is rarely a
          burden on any one host.
        </p>
        <p>
          Following tradition the Garden Club shares holiday cheer with a cookie swap in
          November, and prepare baskets for our elderly neighbors at Easter and Christmas. And,
          just as is done by the Civic Association, the Garden Club welcomes new neighbors when
          they move into Sherwood Forest.
        </p>
        <p>
          The program committee is the key to the success of the Garden Club as they plan and
          secure speakers for the monthly meetings.
        </p>
        <p>
          Our meetings often include discussions about beautification in “the Forest,” especially
          as it relates to the various islands. Volunteers get involved in flower installation in
          the spring and the Civic Association handles ongoing maintenance.
        </p>
        <p>
          While the more formal meetings, with white gloves and elegant hats, are a thing of the
          past, the Garden Club remains a warm gathering of acquaintances and friends in one the
          best neighborhoods in Atlanta. Please join us!
        </p>
        <blockquote>
          For more information anytime, contact:<br>
          Cynthia Jeness<br>
          cynthiajeness@gmail.com
        </blockquote>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button shape="round" size="small" fill="solid"
                  color="warning" (click)="closeModal()">
        Cancel
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-content>
