<ion-header>
  <ion-toolbar mode="md">
    <ion-buttons slot="start">
      <ion-menu-button color="primary"></ion-menu-button>
    </ion-buttons>
    <img slot="start" width="100px" height="61px" src="/assets/sfca-logo.jpg" (click)="goHome()">
    <ion-title slot="start" color="secondary">Filming<br>Documents</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="outline" shape="round" color="tertiary" (click)="logOut()">Logout</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="goToFilming()">
      <ion-icon name="arrow-round-back"></ion-icon>
    </ion-fab-button>
    &nbsp;Filming
  </ion-fab>
  <ion-grid>
    <ion-row>
      <ion-col size="12" class="home-image ion-text-center">
        <h1 class="islands-title">SFCA Filming Reference Documents</h1>
      </ion-col>
      <ion-col size-xl="6" offset-xl="3" >
        <ion-card class="ion-padding">
          <ion-card-title (click)="downloadFCC()">
            SFCA Good Neighbor Filming Code of Conduct
          </ion-card-title>
          <ion-card-content>To support Atlanta’s rapidly growing film activity, the SFCA has
            assembled a short list of expectations for Sherwood Forest residents as they
            considering filming opportunities in our neighborhood.
          </ion-card-content>
          <ion-button (click)="downloadFCC()" expand="block" fill="solid">Download</ion-button>
        </ion-card>
        <ion-card class="ion-padding">
            <ion-card-title (click)="downloadPG()">
              SFCA Producer Guidelines
            </ion-card-title>
          <ion-card-content>To ensure a consistent and positive experience for all our neighbors,
            productions working in Sherwood Forest are expected to adhere to SFCA’s Producer
            Guidelines. Please provide to any Producer, Location Scout or production
            representative who may be interested in featuring your residence.
          </ion-card-content>
          <ion-button (click)="downloadPG()" expand="block" fill="solid">Download</ion-button>
        </ion-card>
        <ion-card class="ion-padding">
          <!--<a href="https://firebasestorage.googleapis.com/v0/b/sherwood-forest-5b7f0.appspot.com/o/documents%2FSFCA%20bylaws.docx?alt=media&token=26594dfc-cdca-4133-994a-47f5b2147b47"-->
             <!--target="_blank">-->
            <ion-card-title>
              SFCA Best Practices for Film Production & Residents
            </ion-card-title>
          <!--</a>-->
          <ion-card-content>(Document Coming Soon!) To help educate Sherwood Forest residents about
            production, this guide will provide insight and suggestions as you consider your
            residence as a location.
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <app-footer></app-footer>
  </ion-grid>
</ion-content>