<ion-content>
  <ion-toolbar text-center>
    <h1>Dinner Groups & Cocktail Parties</h1>
    <ion-buttons slot="end">
      <ion-button shape="round" size="small" fill="solid"
                  color="warning" (click)="closeModal()">
        Close
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-grid padding-top>
    <ion-row>
      <ion-col size="12">
        <ion-header text-center>
          <img src="/assets/DinnerGroup.jpg">
        </ion-header>
      </ion-col>
      <ion-col size="12" padding-top>
        <p>
          Each January a notice goes out to all Sherwood Forest neighbors about the opportunity
          to sign-up in the Sherwood Forest Dinner Groups. The Dinner Group is a chance for
          neighbors to get together in smaller groups to share a meal and hospitality. It’s a
          wonderful way to meet new neighbors and to spend time with friends.
        </p>
        <p>
          Everyone like choices - so here are some just for you. Neighbors have been responding
          when signing up for Dinner Groups and have made some great suggestions that will
          broaden our appeal. Please look over the following ideas for partying in the
          neighborhood and pick one (or two) that suits you best.
        </p>
        <p>
          #1 - Traditional Dinner Groups are always a good choice - you get to know the 8-10
          people in your group (adults only) and host one of the 4 to 5 dinners in the year.
        </p>
        <p>
          #2 - Cocktail party format for 16 - 20 people (adults only as well). Participants bring
          an appetizer and beverage of choice and the host perhaps providing a special cocktail
          for the evening. This can also be a Coffee and Dessert format. Currently these events
          happen on a quarterly basis. With enough demand, events could be on monthly basis with
          shared host duties.
        </p>
        <p>
          #3 - Family Friendly event where young children are welcomed. Think Saturday brunch or
          picnic format. Perhaps parents can share a babysitter so the grown-ups can socialize as
          well as the kids, kind of like a playgroup for parents.
        </p>
        <p>
          To join in the fun, email Grace and Bill Quinn at graceandbillquinn@gmail.com
          indicating what group (#1, #2 or #3) you are interested in attending. Deadline for sign
          up is end of January, every year. There will be a kickoff party later in February to meet
          your group and schedule the dates.
        </p>
        <blockquote>
          For more information any time, contact:<br>
          Grace & Bill Quinn<br>
          (404) 888-9081<br>
          graceandbillquinn@gmail.com
        </blockquote>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button shape="round" size="small" fill="solid"
                  color="warning" (click)="closeModal()">
        Close
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-content>
