<ion-header>
  <ion-toolbar mode="md">
    <ion-buttons slot="start">
      <ion-menu-button color="primary"></ion-menu-button>
    </ion-buttons>
    <img slot="start" width="139px" height="85px" src="/assets/sfca-logo.jpg" (click)="goHome()">
    <ion-title slot="start" color="secondary">Clubs &<br>Groups</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="outline" shape="round" color="tertiary" (click)="logOut()">Logout</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="goToSocial()">
      <ion-icon name="arrow-round-back"></ion-icon>
    </ion-fab-button>
    &nbsp;Social
  </ion-fab>
  <ion-grid>
    <ion-row>
      <ion-col size="12" class="cg-image" class="ion-text-center">
        <img src="/assets/color-groups.jpg" alt="Photo by thom masat on Unsplash">
        <h1 class="cg-title1">Clubs & Groups</h1>
      </ion-col>
      <ion-col class="cg-format" size="12">
        <p>Sherwood Forest offers a variety of groups and clubs for its residents. Find out more
          by tapping on the cards below. If you desire to start a new club, or join the
          <a href="https://www.facebook.com/groups/SherwoodForestAtlanta/" target="_blank">
            Sherwood Forest Neighbors - Atlanta Facebook</a>
          group, please contact our social board member at events@sherwoodforestatl.org.</p>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size-xl="5" size-lg="5" size-md="5" size-sm="12" size-xs="12">
        <ion-card (click)="presentDinnerCocktailModal()">
          <ion-img src="/assets/DinnerGroup.jpg"></ion-img>
          <ion-card-header class="ion-text-center">
            <ion-card-title>Dinner Groups & Cocktail Parties</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size-xl="5" size-lg="5" size-md="5" size-sm="12" size-xs="12">
        <ion-card (click)="presentGameNightlModal()">
          <ion-img src="/assets/GameNight.jpg"></ion-img>
          <ion-card-header class="ion-text-center">
            <ion-card-title>Game Night</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size-xl="5" size-lg="5" size-md="5" size-sm="12" size-xs="12">
        <ion-card (click)="presentGardenClubModal()">
          <ion-img src="/assets/BotanicalGardens2.jpg"></ion-img>
          <ion-card-header class="ion-text-center">
            <ion-card-title>Garden Club</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size-xl="5" size-lg="5" size-md="5" size-sm="12" size-xs="12">
        <ion-card (click)="presentMerryFolkModal()">
          <ion-img src="/assets/MerryFolk2.jpg"></ion-img>
          <ion-card-header class="ion-text-center">
            <ion-card-title>Merry Folk</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
    <app-footer></app-footer>
  </ion-grid>
</ion-content>