ion-card-content p {
  font-size: 1.5em;
}

.card-title {
  position: absolute;
  top: 10%;
  width: 100%;
  font-size: 6vw;
  text-shadow: 3px 3px 8px #000000;
  font-weight: bold;
  color: #ffffff;
}

.events {
  background: var(--ion-color-primary-tint);
}

.events img {
  object-fit: cover;
  width: 1000px;
  height: 300px;
}