<ion-header>
  <ion-toolbar mode="md">
    <ion-buttons slot="start">
      <ion-menu-button color="primary"></ion-menu-button>
    </ion-buttons>
    <img slot="start" width="139px" height="85px" src="/assets/sfca-logo.jpg" (click)="goHome()">
    <ion-title slot="start" color="secondary">Member</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="outline" shape="round" color="tertiary" (click)="logOut()">Logout</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
<ion-card>
  <img src="../../assets/LionIsland2.jpg">
  <ion-card-title class="card-title" text-center>
    Welcome to the Member Page<br>
    {{ currentUser }}
  </ion-card-title>
  <ion-card-content text-center>
    <ion-button (click)="presentUserModal(user)">
      <ion-icon slot="start" name="person"></ion-icon>
      Update Your Member Profile
    </ion-button>
    <p *ngIf="duesPaid" @slideTitleRight>2019 Dues Are Paid. Thank You!</p>
    <p *ngIf="!duesPaid" @slideTitleRight>Our neighborhood needs you!<br>Submit your 2019 dues and help
      us grow.</p>
  </ion-card-content>
</ion-card>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size-xl="3" size-lg="6" size-md="6" size-sm="12" size-xs="12" class="ion-align-self-center" text-center>
        <p>Thanks for using the new Sherwood Forest Civic Association web app!</p>
      </ion-col>
      <ion-col size-xl="3" size-lg="6" size-md="6" size-sm="12" size-xs="12" text-center class="ion-align-self-center">
        <ion-list lines="none">
          <ion-item>
            <ion-icon slot="start" name="folder"></ion-icon>
            <ion-button routerLink="/member/documents">Resident Documents</ion-button>
          </ion-item>
          <ion-item>
            <ion-icon slot="start" name="cash"></ion-icon>
            <ion-button>Pay Dues (coming soon!)</ion-button>
          </ion-item>
          <ion-item>
            <ion-icon slot="start" name="person"></ion-icon>
            <ion-button (click)="presentUserModal(user)">Update Your Member Profile</ion-button>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-center>
        <h2>Upcoming Events</h2>
      </ion-col>
    </ion-row>
    <ion-row class="events">
      <ion-col size-xl="3" size-lg="3" size-md="6" size-sm="12" size-xs="12">
        <ion-card padding>
          <img src="../../assets/summer-party.jpg">
          <ion-card-header>
            <ion-card-title>
              Sherwood Forest Summer Block Party
            </ion-card-title>
            <ion-card-subtitle>
              June 1, 2019 4:00 PM - 8:00 PM
            </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            Meet on Barnesdale Way and bring a side-dish or dessert to share.
          </ion-card-content>
          <ion-button>More Event Detail</ion-button>
        </ion-card>
      </ion-col>
      <ion-col size-xl="3" size-lg="3" size-md="6" size-sm="12" size-xs="12">
        <ion-card padding>
          <img src="../../assets/ansley-golf-club.jpg">
          <ion-card-header>
            <ion-card-title>
              Sherwood Forest Semi-Annual Meeting
            </ion-card-title>
            <ion-card-subtitle>
              October 22, 2019 6:30 PM - 10:00 PM
            </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            Please join the board for our 2nd quarterly update at Ansley Golf Club.
          </ion-card-content>
          <ion-button>Details to Follow Soon</ion-button>
        </ion-card>
      </ion-col>
      <ion-col size-xl="3" size-lg="3" size-md="6" size-sm="12" size-xs="12">
        <ion-card padding>
          <img src="../../assets/halloween-party.jpg">
          <ion-card-header>
            <ion-card-title>
              Sherwood Forest Halloween Event
            </ion-card-title>
            <ion-card-subtitle>
              October 31, 2019
            </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            Bring your best costume to Magnolia Island!
          </ion-card-content>
          <ion-button>Details to Follow Soon</ion-button>
        </ion-card>
      </ion-col>
      <ion-col size-xl="3" size-lg="3" size-md="6" size-sm="12" size-xs="12">
        <ion-card padding>
          <img src="../../assets/holiday-party.jpg">
          <ion-card-header>
            <ion-card-title>
              Sherwood Forest Holiday Party
            </ion-card-title>
            <ion-card-subtitle>
              December 7, 2019
            </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            Adults only celebration at the home of one gracious resident.
          </ion-card-content>
          <ion-button>Details to Follow Soon</ion-button>
        </ion-card>
      </ion-col>
    </ion-row>
    <app-footer></app-footer>
  </ion-grid>
</ion-content>
