<ion-header>
  <ion-toolbar mode="md">
    <ion-buttons slot="start">
      <ion-menu-button color="primary"></ion-menu-button>
    </ion-buttons>
    <img slot="start" width="139px" height="85px" src="/assets/sfca-logo.jpg" (click)="goHome()">
    <ion-title slot="start" color="secondary">Member</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="outline" shape="round" color="tertiary" (click)="logOut()">Logout</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <img src="../../assets/LionIsland2.jpg">
    <ion-card-title class="card-title" text-center>
      Welcome to the Member Page<br>
      {{ currentUser }}
    </ion-card-title>
    <ion-card-content text-center>
      <ion-button (click)="presentUserModal(user)">
        <ion-icon slot="start" name="person"></ion-icon>
        Update Your Member Profile
      </ion-button>
      <ion-button (click)="presentJrResidentModal()">
        <ion-icon slot="start" name="happy"></ion-icon>
        Jr Residents
      </ion-button>
      <ion-button (click)="presentPetModal()">
        <ion-icon slot="start" name="paw"></ion-icon>
        Pets
      </ion-button>
      <p *ngIf="duesPaid" @slideTitleRight>2019 Dues Are Paid. Thank You!</p>
      <p *ngIf="!duesPaid" @slideTitleRight>Our neighborhood needs you!<br>Submit your 2019 dues and help
        us grow.</p>
    </ion-card-content>
  </ion-card>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size-xl="5" size-lg="6" size-md="12" size-sm="12" size-xs="12" class="ion-align-self-center" padding>
        <p>Thanks for using the new Sherwood Forest Civic Association web app! Quickly access documents, payment options
        (coming soon), and board members by clicking the green buttons. Also, take a quick glance of upcoming events below.</p>
      </ion-col>
      <ion-col size-xl="5" size-lg="6" size-md="12" size-sm="12" size-xs="12" text-center class="ion-align-self-center">
        <ion-row class="ion-justify-content-center">
          <ion-col>
            <ion-button routerLink="/member/documents">
              <ion-icon slot="start" name="folder"></ion-icon>
              Resident Documents
            </ion-button>
          </ion-col>
          <ion-col>
            <ion-button>
              <ion-icon slot="start" name="cash"></ion-icon>
              Pay Dues (coming soon!)
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row text-center margin-top padding-bottom class="ion-justify-content-center">
      <ion-col text-center>
        <h2>Board Members 2019 - 2021</h2>
        <ion-button (click)="showBoardMembers()" *ngIf="!showBoard">Show Board Members</ion-button>
        <ion-button (click)="showBoardMembers()" *ngIf="showBoard">Hide Board Members</ion-button>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="showBoard" class="board-bkgrnd board-border">
      <ion-col text-center padding *ngFor="let member of board">
        <div text-center>
          <ion-thumbnail><ion-img src="{{ member.photoURL }}"></ion-img></ion-thumbnail>
          <h2>{{ member.displayName.firstName}} {{ member.displayName.lastName}}</h2>
          <h3>{{ member.boardTitle }}</h3>
          <p>{{ member.boardEmail }}</p>
        </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-center>
        <h2>Upcoming Events</h2>
      </ion-col>
    </ion-row>
    <ion-row class="events">
      <ion-col size-xl="3" size-lg="3" size-md="6" size-sm="12" size-xs="12"
               *ngFor="let event of upcomingEvents">
        <ion-card class="eventCard" padding>
          <img src="{{ event.photoURL }}">
          <ion-card-header>
            <ion-card-title>
              {{ event.title }}
            </ion-card-title>
            <ion-card-subtitle>
              {{ event.startTime | date:'mediumDate' }} {{ event.startTime | date:'shortTime' }}
              - {{ event.endTime | date:'shortTime' }}
            </ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            {{ event.subTitle }}
          </ion-card-content>
          <ion-button (click)="presentEventModal(event)">More Event Detail</ion-button>
        </ion-card>
      </ion-col>
    </ion-row>
    <app-footer></app-footer>
  </ion-grid>
</ion-content>
