<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start" color="primary"></ion-menu-button>
    <ion-title>Member Page</ion-title>
    <ion-button slot="end" color="tertiary" (click)="logOut()"
    >Logout</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
  <img src="../../assets/LionIsland.jpg">
  <ion-card-header>
    <ion-card-title>
      Hello {{currentUser}}
    </ion-card-title>
  </ion-card-header>
  <ion-card-content>
    Welcome to the Sherwood Forest web app!
  </ion-card-content>
  <ion-button (click)="presentUserModal()">Update Your Member Profile</ion-button>
</ion-card>
</ion-content>
