ion-label {
  --color: var(--ion-color-light) !important;
  font-weight: bold;
  font-size: 1.5em !important;
}

ion-item {
  --background: transparent;
}

ion-toolbar {
  --background: rgba(255,255,255, 0.3);
}

ion-input {
  --background: rgba(255,255,255, 0.3);
  font-size: 1.5em !important;
  --color: var(--ion-color-secondary-shade);
}
