<ion-app>
  <ion-split-pane contentId="main" disabled="true">
    <ion-menu contentId="main">
      <ion-header>
        <ion-toolbar color="tertiary">
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false">
            <ion-item ngcolor="light" routerDirection="'root'"
                      routerLink="/public/home">
              <ion-icon slot="start" name="home"></ion-icon>
              <ion-label>Home</ion-label>
            </ion-item>
            <ion-item *ngIf="!isLoggedIn" ngcolor="light"
                       (click)="presentLoginModal()">
              <ion-icon slot="start" name="people"></ion-icon>
              <ion-label>Member Access</ion-label>
            </ion-item>
            <ion-item ngcolor="light" routerDirection="'root'"
                      routerLink="/public/contact">
              <ion-icon slot="start" name="mail"></ion-icon>
              <ion-label>Contact</ion-label>
            </ion-item>
            <ion-item *ngIf="isLoggedIn" ngcolor="light"
                      routerDirection="'root'" routerLink="/member">
              <ion-icon slot="start" name="person"></ion-icon>
              <ion-label>Member</ion-label>
            </ion-item>
            <ion-item *ngIf="isLoggedIn" ngcolor="light"
                      routerDirection="'root'" routerLink="/social">
              <ion-icon slot="start" name="today"></ion-icon>
              <ion-label>Social</ion-label>
            </ion-item>
            <ion-item *ngIf="isLoggedIn" ngcolor="light"
                      routerDirection="'root'" routerLink="/sfca-business">
              <ion-icon slot="start" name="briefcase"></ion-icon>
              <ion-label>SFCA Business</ion-label>
            </ion-item>
            <ion-item *ngIf="isLoggedIn" ngcolor="light"
                      routerDirection="'root'" routerLink="/filming">
              <ion-icon slot="start" name="film"></ion-icon>
              <ion-label>Filming</ion-label>
            </ion-item>
            <ion-item *ngIf="isLoggedIn" ngcolor="light"
                      routerDirection="'root'" routerLink="/security">
              <ion-icon slot="start" name="eye"></ion-icon>
              <ion-label>Security</ion-label>
            </ion-item>
            <ion-item *ngIf="isLoggedIn" ngcolor="light"
                      routerDirection="'root'" routerLink="/tree-watch">
              <ion-icon slot="start" name="leaf"></ion-icon>
              <ion-label>Tree Watch</ion-label>
            </ion-item>
            <ion-item *ngIf="isLoggedIn" ngcolor="light"
                      routerDirection="'root'" routerLink="/directory">
              <ion-icon slot="start" name="book"></ion-icon>
              <ion-label>Directory</ion-label>
            </ion-item>
            <ion-item *ngIf="isLoggedIn" ngcolor="light"
                      (click)="presentLogoutModal()">
              <ion-icon slot="start" name="log-out"></ion-icon>
              <ion-label>Logout/Password/Email</ion-label>
            </ion-item>
            <ion-item-group *ngIf="isAdmin">
              <ion-item-divider>
                <ion-label>Admin - Manage Users</ion-label>
              </ion-item-divider>
                <ion-item routerDirection="'root'" routerLink="/admin">
                  <ion-label>All Users</ion-label>
                </ion-item>
                <ion-item routerDirection="'root'" routerLink="/admin/add-member"
                          (click)="presentRegisterModal()">
                  <ion-label>Add Member</ion-label>
                </ion-item>
                <!--<ion-item routerDirection="'root'" routerLink="/admin/add-non-member">-->
                  <!--<ion-label>Add Non Member</ion-label>-->
                <!--</ion-item>-->
                <ion-item routerDirection="'root'" routerLink="/admin/events">
                  <ion-label>Events</ion-label>
                </ion-item>
                <ion-item routerDirection="'root'" routerLink="/admin/notifications">
                  <ion-label>Notifications</ion-label>
                </ion-item>
            </ion-item-group>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
