<ion-content>
  <ion-toolbar class="ion-text-center">
    <h1>Game Night</h1>
    <ion-buttons slot="end">
      <ion-button shape="round" size="small" fill="solid"
                  color="warning" (click)="closeModal()">
        Close
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-grid class="ion-padding-top">
    <ion-row>
      <ion-col size="12">
        <ion-header class="ion-text-center">
          <img src="/assets/GameNight.jpg">
        </ion-header>
      </ion-col>
      <ion-col size="12" class="ion-padding-top">
        <p>
          A group where neighbors come together once a month to enjoy different
          gameboards and various card playing activities. More details to come!
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button shape="round" size="small" fill="solid"
                  color="warning" (click)="closeModal()">
        Close
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-content>
