<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Admin
    </ion-title>
  </ion-toolbar>
  <ion-toolbar text-center>
    <ion-searchbar showCancelButton="always" (ionChange)="filterByFirstName($event)"
                   *ngIf="filterBy == 'firstName'" placeholder="Search by First Name">
    </ion-searchbar>
    <ion-searchbar showCancelButton="focus" (ionChange)="filterByLastName($event)"
                   [value]="searchTermValue"
                   *ngIf="filterBy == 'lastName'" placeholder="Search by Last Name">
    </ion-searchbar>
    <ion-searchbar showCancelButton="always" (ionChange)="filterByAddress($event)"
                   *ngIf="filterBy == 'address'"placeholder="Search by Address">
    </ion-searchbar>
  </ion-toolbar>
  <ion-toolbar text-center class="toolbar-buttons">
    <ion-button [color]="statusFirst" (click)="queryFirstName()">
      First Name
    </ion-button>
    <ion-button [color]="statusLast" (click)="queryLastName()">
      Last Name
    </ion-button>
    <ion-button [color]="statusAddress" (click)="queryAddress()">
      Address
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <p text-center>All SFCA Users</p>
  <ion-button color="danger">
    Add Data to Users
  </ion-button>
  <ion-button color="success" (click)="getAllUsers()">
    Get All Users
  </ion-button>
  <ion-list>
    <ion-item *ngFor="let user of users" lines="full">
      <ion-thumbnail slot="start" (click)="presentUserModal(user)">
        <img src="{{ user.photoURL }}">
      </ion-thumbnail>
      <ion-icon slot="end" *ngIf="user.roles.admin" name="medal">Admin</ion-icon>
      <ion-icon slot="end" *ngIf="user.duesPaid" name="cash">Paid</ion-icon>
      <ion-avatar slot="end" *ngIf="user.roles.pendingMember">
        <img src="/assets/non-member.png">
      </ion-avatar>
      <ion-label text-wrap>
        <ion-text>
          <h1>{{ user.displayName.firstName + ' ' + user.displayName.lastName }}</h1>
        </ion-text>
        <ion-text>
          <h1>{{ user.address.streetNumber + ' ' + user.address.streetName }}</h1>
        </ion-text>
        <ion-text>
          <h2>{{ user.email }}</h2>
        </ion-text>
        <ion-button *ngIf="!user.roles.admin" color="secondary" (click)="makeAdmin( user )">
          Add Admin Role
        </ion-button>
        <ion-button *ngIf="user.roles.admin" color="tertiary" (click)="removeAdmin( user )">
          Remove Admin Role
        </ion-button>

        <ion-button *ngIf="user.roles.pendingMember" color="dark" (click)="makeApproved( user )">
          Pending Member
        </ion-button>
        <ion-button *ngIf="user.roles.approvedMember" color="light" (click)="makePending( user )">
          Approved Member
        </ion-button>

        <ion-button *ngIf="!user.duesPaid" color="warning" (click)="markDuesPaid( user )">
          Dues are Unpaid
        </ion-button>
        <ion-button *ngIf="user.duesPaid" color="success" (click)="markDuesUnpaid( user )">
          Dues are Paid
        </ion-button>
        <ion-button color="danger" (click)="deleteUser( user.displayName.firstName, user.uid )">
          Delete User
        </ion-button>
      </ion-label>
    </ion-item>
  </ion-list>
  <!--<ion-spinner *ngIf="!showSpinner" name="bubbles"></ion-spinner>-->
</ion-content>
