<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Admin
    </ion-title>
  </ion-toolbar>
  <ion-toolbar class="ion-text-center">
    <ion-searchbar show-cancel-button="always" (ionInput)="filterByFirstName($event)"
                   *ngIf="filterBy == 'firstName'" placeholder="Search by First Name">
    </ion-searchbar>
    <ion-searchbar show-cancel-button="always" (ionInput)="filterByLastName($event)"
                   [value]="searchTermValue"
                   *ngIf="filterBy == 'lastName'" placeholder="Search by Last Name">
    </ion-searchbar>
    <ion-searchbar show-cancel-button="always" (ionInput)="filterByAddress($event)"
                   *ngIf="filterBy == 'address'"placeholder="Search by Address">
    </ion-searchbar>
  </ion-toolbar>
  <ion-toolbar class="ion-text-center toolbar-buttons">
    <ion-button [color]="statusFirst" (click)="queryFirstName()">
      First Name
    </ion-button>
    <ion-button [color]="statusLast" (click)="queryLastName()">
      Last Name
    </ion-button>
    <ion-button [color]="statusAddress" (click)="queryAddress()">
      Address
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <p class="ion-text-center">All SFCA Users</p>
  <!-- <ion-button color="danger" >
    Reset User Info
  </ion-button> -->
  <ion-grid>
      <ion-row>
        <ion-col class="ion-text-center" size="12">
          <ion-button (click)="requestReport()">Generate New SFCA Users Report</ion-button>
        </ion-col>
        <ion-col class="ion-text-center" size="12">
          <div *ngFor="let report of recentReport">
            <app-report-link [report]="report"></app-report-link>
          </div>
        </ion-col>
      </ion-row>
      <ion-virtual-scroll [items]="users" approxItemHeight="70px" [headerFn]="separateLetter">
        <ion-item-divider *virtualHeader="let header">
          <b>{{ header }}</b>
        </ion-item-divider>
          <ion-item *virtualItem="let user;">
            <ion-label class="ion-text-wrap">
              <ion-row>
                <!-- Thumbnail, Jr Res, and Pets -->
                <ion-col size-xs="12" size-sm="12" size-md="3" size-lg="2" size-xl="2"
                class="ion-text-center ion-align-self-center">
                  <ion-row class="ion-justify-content-center">
                    <ion-col>
                      <ion-thumbnail class="thumb-user" (click)="presentUserModal(user)">
                        <ion-img [src]="user.photoURL"></ion-img>
                      </ion-thumbnail>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col>
                      <ion-button fill="outline" color="secondary" (click)="presentJrResidentModal(user)">
                        Jr Res
                      </ion-button>
                      <ion-button fill="outline" color="secondary" (click)="presentPetModal(user)">
                        Pets
                      </ion-button>
                    </ion-col>
                  </ion-row>
                </ion-col>
                <!-- Name, Address, Email, and buttons to manage users -->
                <ion-col size-xl="12" size-sm="12" size-md="9" size-lg="10" size-xl="10"
                class="ion-align-items-start">
                  <ion-row>
                    <ion-col class="ion-align-items-start">
                      <ion-text>
                        <h1>{{ user.displayName.firstName + ' ' + user.displayName.lastName }}</h1>
                      </ion-text>
                      <ion-text>
                        <h1>{{ user.address.streetNumber + ' ' + user.address.streetName }}</h1>
                      </ion-text>
                      <ion-text>
                        <h2>{{ user.email }}</h2>
                      </ion-text>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col>
                      <ion-button color="tertiary" (click)="presentUserEmailModal(user)">
                        Update Email
                      </ion-button>
                      <ion-button  color="tertiary" (click)="presentUserPasswordModal(user)">
                        Change Password
                      </ion-button>
                      <ion-button color="danger" (click)="deleteUser( user.displayName.firstName, user.uid, user.spousePartner.spID )">
                        Delete User
                      </ion-button>
                    </ion-col>
                  </ion-row>
                  <ion-row>
                    <ion-col>
                      <ion-button *ngIf="!user.roles.admin" color="secondary" (click)="makeAdmin( user )">
                        Add Admin Role
                      </ion-button>
                      <ion-button *ngIf="user.roles.admin" color="tertiary" (click)="removeAdmin( user )">
                        Remove Admin
                      </ion-button>
                      <ion-button *ngIf="user.roles.pendingMember" color="dark" (click)="makeApproved( user )">
                        Non-Member
                      </ion-button>
                      <ion-button *ngIf="user.roles.approvedMember" color="light" (click)="makePending( user )">
                        Approved Member
                      </ion-button>
                      <ion-button *ngIf="!user.paidDues" color="warning" (click)="markDuesPaid( user )">
                        Dues are Unpaid
                      </ion-button>
                      <ion-button *ngIf="user.paidDues" color="success" (click)="markDuesUnpaid( user )">
                        Dues are Paid
                      </ion-button>
                    </ion-col>
                    <!-- <ion-col size="2">
                      <ion-thumbnail *ngIf="user.roles.pendingMember">
                        <img src="/assets/non-member.png">
                      </ion-thumbnail>
                    </ion-col> -->
                  </ion-row>
                </ion-col>
              </ion-row>
            </ion-label>
          </ion-item>
      </ion-virtual-scroll>
  </ion-grid> 
</ion-content>
