<ion-header>
  <ion-toolbar mode="md">
    <ion-buttons slot="start">
      <ion-menu-button color="primary"></ion-menu-button>
    </ion-buttons>
    <img slot="start" width="139px" height="85px" src="/assets/sfca-logo.jpg" (click)="goHome()">
    <ion-title slot="start" color="secondary">Security</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="outline" shape="round" color="tertiary" (click)="logOut()">Logout</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="ion-padding">
        <ion-img src="../../assets/security.jpg"></ion-img>
        <h1>Security Information</h1>
        <p>Sherwood Forest is one of the safest neighborhoods in metro Atlanta. SFCA board takes
          the safety and security of neighbors, property, and visitors seriously. We have four
          active license plate readers at each entrance. We also have paid off-duty police
          officers on random shifts to maximize coverage patrolling our neighborhood.</p>
        <p>Emergency: Dial 911.</p>
        <p>Non-Emergency - Atlanta Police Liason: Lt. Gary L. Harper<br>Email:
          glharper07@yahoo.com<br>
          Phone: 404-213-1348<br>
          <ion-button (click)="toggle()">More about Lt. Harper</ion-button>
        </p>
        <ion-row *ngIf="showHodge" class="showInfoFormat">
          <ion-col size="12" text-center>
            <h1>Introducing Lt. Gary L. Harper</h1>
            <img src="../../assets/LtGaryHarper.png" />
          </ion-col>
          <ion-col size="12">
            <p>
              Lieutenant Harper (Gary) is a 22-year veteran of the City of Atlanta, 
              currently serving in the Contingency Operations Division. He oversees protests, 
              large permitted events, filming in the city, and primary planner for critical 
              incident management in the City of Atlanta.
            </p>
            <p>
              Prior to his Atlanta Police career, he served in the United States Army; 
              a decorated Desert Shield/Storm Veteran, Paratrooper, and Military Police officer.
            </p>
            <p>
              "As an active member in my own community, I am aware of what is expected 
              and am committed to providing the same service I expect from my own 
              neighborhood patrol."
            </p>
            <p>"Some general notes that you may have heard:"
            </p>
            <ion-list lines="none">
              <ion-item>I am a firm believer in the "See Something, Say Something" model. 
                Feel free to call, text, or email any information you feel is relevant to your
                neighborhood safety.
              </ion-item>
              <ion-item> <b>(keep in mind that your first call should be to 9-1-1)</b></ion-item>
              <ion-item>Lock your vehicles</ion-item>
              <ion-item>Remove valuables from your vehicle</ion-item>
              <ion-item>Speak to your neighbors</ion-item>
              <ion-item>Turn on porch/driveway lights</ion-item>
              <ion-item>Clear excessive growth from your windows</ion-item>
              <ion-item>Your safety is a partnership with your community and the 
                Atlanta Police Department, BE VIGILANT!!
              </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>
        <p>Non-Emergency - SFCA Security Liason: William Gaines<br>Email:
        will.gaines@nelsonmullins.com<br>
        Phone: 404-295-6078</p>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size-xl="4" size-lg="6" size-md="6" size-sm="12" size-xs="12" class="ion-text-center ion-align-self-center">
        <h2>Police and Safety Activity</h2>
        <p>(Information Coming Soon)</p>
      </ion-col>
      <ion-col size-xl="4" size-lg="6" size-md="6" size-sm="12" size-xs="12">
        <img class="security-img" src="../../assets/security-camera.jpg">
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size-xl="4" size-lg="6" size-md="6" size-sm="12" size-xs="12" class="ion-text-center ion-align-self-center">
        <h2>Procedure to Report Activity</h2>
        <p>(Information Coming Soon)</p>
      </ion-col>
      <ion-col size-xl="4" size-lg="6" size-md="6" size-sm="12" size-xs="12">
        <img class="security-img" src="../../assets/security-reporting.jpg">
      </ion-col>
    </ion-row>
    <app-footer></app-footer>
  </ion-grid>
</ion-content>
