<ion-header>
  <ion-toolbar mode="md">
    <ion-buttons slot="start">
      <ion-menu-button color="primary"></ion-menu-button>
    </ion-buttons>
    <img slot="start" width="139px" height="85px" src="/assets/sfca-logo.jpg" (click)="goHome()">
    <ion-title slot="start" color="secondary">Security</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="outline" shape="round" color="tertiary" (click)="logOut()">Logout</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="ion-padding">
        <ion-img src="../../assets/security.jpg"></ion-img>
        <h1>Security Information</h1>
        <p>Sherwood Forest is one of the safest neighborhoods in metro Atlanta. SFCA board takes
          the safety and security of neighbors, property, and visitors seriously. We have four
          active license plate readers at each entrance. We also have paid off-duty police
          officers on random shifts to maximize coverage patrolling our neighborhood.</p>
        <p>Emergency: Dial 911.</p>
        <p>Non-Emergency - Atlanta Police Liason: Officer Brian Beebe<br>Email:
          christybeebe6@gmail.com<br>
          Phone: 678-908-0907<br>
          <ion-button (click)="toggle()">More about Officer Brian Beebe</ion-button>
        </p>
        <ion-row *ngIf="showHodge" class="showInfoFormat">
          <ion-col size="12" text-center>
            <h1>Introducing Officer Brian Beebe</h1>
            <!-- <img src="../../assets/LtGaryHarper.png" /> -->
          </ion-col>
          <ion-col size="12">
            <p>
              Many of you already know Ofc. Beebe as he has been handling security at 
              Ansley Golf Club for over 20 years. Ofc. Beebe is a POST certified officer 
              with the APD. Ofc. Beebe also has other officers that he may bring in from 
              time to time to cover patrol hours, although he will be our primary officer. 
              We are excited to have Ofc. Beebe on board.
            </p>
            <p>
              For those of you that do not know him, he is approachable, accessible, and 
              close by. We are confident he will be a highly visible presence in the 
              neighborhood. I encourage you all to say hello when you see Ofc. Beebe in the 
              neighborhood. He drives a Dodge Charger with Atlanta Police magnets on the door.
            </p>
            <p>"Some general notes that you may have heard:"
            </p>
            <ion-list lines="none">
              <ion-item>If you see something, say something. 
                Call, text, or email any information you feel is relevant to your
                neighborhood safety.
              </ion-item>
              <ion-item> <b>Keep in mind that your first call should be to 9-1-1</b></ion-item>
              <ion-item>Lock your vehicles</ion-item>
              <ion-item>Remove valuables from your vehicle</ion-item>
              <ion-item>Speak to your neighbors</ion-item>
              <ion-item>Turn on porch/driveway lights</ion-item>
              <ion-item>Clear excessive growth from your windows</ion-item>
              <ion-item>Your safety is a partnership with your community and the 
                Atlanta Police Department, BE VIGILANT!!
              </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>
        <p>Non-Emergency - SFCA Security Liason: William Gaines<br>Email:
        will.gaines@nelsonmullins.com<br>
        Phone: 404-295-6078</p>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size-xl="4" size-lg="6" size-md="6" size-sm="12" size-xs="12" class="ion-text-center ion-align-self-center">
        <h2>Police and Safety Activity</h2>
        <p>(Information Coming Soon)</p>
      </ion-col>
      <ion-col size-xl="4" size-lg="6" size-md="6" size-sm="12" size-xs="12">
        <img class="security-img" src="../../assets/security-camera.jpg">
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size-xl="4" size-lg="6" size-md="6" size-sm="12" size-xs="12" class="ion-text-center ion-align-self-center">
        <h2>Procedure to Report Activity</h2>
        <p>(Information Coming Soon)</p>
      </ion-col>
      <ion-col size-xl="4" size-lg="6" size-md="6" size-sm="12" size-xs="12">
        <img class="security-img" src="../../assets/security-reporting.jpg">
      </ion-col>
    </ion-row>
    <app-footer></app-footer>
  </ion-grid>
</ion-content>
