<ion-header>
  <ion-toolbar mode="md">
    <ion-buttons slot="start">
      <ion-menu-button color="primary"></ion-menu-button>
    </ion-buttons>
    <img slot="start" width="139px" height="85px" src="/assets/sfca-logo.jpg" (click)="goHome()">
    <ion-title slot="start" color="secondary">Security</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="outline" shape="round" color="tertiary" (click)="logOut()">Logout</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col padding>
        <ion-img src="../../assets/security.jpg"></ion-img>
        <h1>Security Information</h1>
        <p>Sherwood Forest is one of the safest neighborhoods in metro Atlanta. SFCA board takes
          the safety and security of neighbors, property, and visitors seriously. We have four
          active license plate readers at each entrance. We also have paid off-duty police
          officers on random shifts to maximize coverage patrolling our neighborhood.</p>
        <p>Emergency: Dial 911.</p>
        <p>Non-Emergency - Atlanta Police Liason: Sgt. Hodge<br>Email: sherwoodforestofficer@gmail.com</p>
        <p>Non-Emergency - SFCA Security Liason: Tom Ptacek</p>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size-xl="4" size-lg="6" size-md="6" size-sm="12" size-xs="12" text-center class="ion-align-self-center">
        <h2>Police and Safety Activity</h2>
      </ion-col>
      <ion-col size-xl="4" size-lg="6" size-md="6" size-sm="12" size-xs="12">
        <img class="security-img" src="../../assets/security-camera.jpg">
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size-xl="4" size-lg="6" size-md="6" size-sm="12" size-xs="12" text-center class="ion-align-self-center">
        <h2>Procedure to Report Activity</h2>
      </ion-col>
      <ion-col size-xl="4" size-lg="6" size-md="6" size-sm="12" size-xs="12">
        <img class="security-img" src="../../assets/security-reporting.jpg">
      </ion-col>
    </ion-row>
    <app-footer></app-footer>
  </ion-grid>
</ion-content>
