<ion-footer>
  <ion-toolbar>
    <ion-img slot="start" src="/assets/sfca-logo.jpg"></ion-img>
    <ion-row class="ion-justify-content-center">
      <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="6" size-xl="6" class="ion-text-center ion-align-self-center">
        <p>Sherwood Forest Civic Assoc.<br>
        <!-- PO Box 570291<br> -->
        Atlanta GA 30357</p>
      </ion-col>
      <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="6" size-xl="6" class="ion-text-center ion-align-self-center">
        <p>sfca@sherwoodforestatl.org</p>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-footer>