<ion-header>
  <ion-toolbar mode="md">
    <ion-buttons slot="start">
      <ion-menu-button color="primary"></ion-menu-button>
    </ion-buttons>
    <img slot="start" width="139px" height="85px" src="/assets/sfca-logo.jpg" (click)="goHome()">
    <ion-title slot="start" color="secondary">Business</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="outline" shape="round" color="tertiary" (click)="logOut()">Logout</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col padding>
        <ion-img src="../../assets/sfca-business.jpg"></ion-img>
        <h1>SFCA Business Information</h1>
        <p>SFCA holds semi-annual meetings for paid members, in April & October of every year. To
          make your voice heard, we encourage you to attend and become part of our active community.</p>
        <p>The SFCA board holds regular meetings. All semi-annual minutes and documents can be
          found in the
          links below.</p>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col>
        <img class="business-img" src="../../assets/img9.jpg">
      </ion-col>
      <ion-col class="ion-align-self-center">
        <h2>Semi-Annual Minutes</h2>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col>
        <img class="business-img" src="../../assets/img8.jpg">
      </ion-col>
      <ion-col class="ion-align-self-center">
        <h2>SFCA Forms</h2>
      </ion-col>
    </ion-row>
    <app-footer></app-footer>
  </ion-grid>
</ion-content>

