<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start" color="primary"></ion-menu-button>
    <ion-img slot="start" src="/assets/sfca-logo.jpg" (click)="goHome()"></ion-img>
    <ion-title>SFCA Business</ion-title>
    <ion-button slot="end" color="tertiary" (click)="logOut()">Logout</ion-button>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col padding>
        <ion-img src="../../assets/sfca-business.jpg"></ion-img>
        <h1>SFCA Business Information</h1>
        <p>SFCA holds semi-annual meetings for paid members, in April & October of every year. To
          make your voice heard, we encourage you to attend and become part of our active community.</p>
        <p>The SFCA board holds regular meetings. All minutes and documents can be found in the
          links below.</p>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col>
        <img class="business-img" src="../../assets/img9.jpg">
      </ion-col>
      <ion-col class="ion-align-self-center">
        <h2>Minutes</h2>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col>
        <img class="business-img" src="../../assets/img8.jpg">
      </ion-col>
      <ion-col class="ion-align-self-center">
        <h2>SFCA Forms</h2>
      </ion-col>
    </ion-row>
    <app-footer></app-footer>
  </ion-grid>
</ion-content>

