<ion-header>
  <ion-toolbar mode="md">
    <ion-buttons slot="start">
      <ion-menu-button color="primary"></ion-menu-button>
    </ion-buttons>
    <img slot="start" width="139px" height="85px" src="/assets/sfca-logo.jpg" (click)="goHome()">
    <ion-title slot="start" color="secondary">Payment</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="outline" shape="round" color="tertiary" (click)="logOut()">Logout</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="goToMember()">
      <ion-icon name="arrow-round-back"></ion-icon>
    </ion-fab-button>
    &nbsp;Member
  </ion-fab>
  <ion-grid>
    <ion-row>
      <ion-col size="12" text-center>
        <h1>Member Payments</h1>
        <p>Payment options coming soon. This is a work in progress</p>
      </ion-col>
      <ion-col size="12">
        <ion-list>
          <ion-list-header><ion-label>Choose Your Payment Option</ion-label></ion-list-header>
          <ion-item (click)="checkOption()" detail>
            <ion-label>
              Pay by Check
            </ion-label>
              <ion-card *ngIf="showCheck">
                <ion-card-title>
                  Drop off Check:
                </ion-card-title>
                <ion-card-content>
                  Steven Rudisail (mailbox is mounted to right of garage)<br>
                  1630 Nottingham Way<br>
                  Atlanta GA 30309
                </ion-card-content>
              </ion-card>
          </ion-item>
          <ion-item (click)="billPayOption()" detail>
            <ion-label>
              BillPay Via Your Bank
            </ion-label>
          </ion-item>
          <ion-item (click)="venmoOption()" detail>
            <ion-label>
              Pay by Venmo
            </ion-label>
          </ion-item>
          <ion-item>
            <ion-label>
              Pay by Credit Card
            </ion-label>
            <ion-select 
            [interfaceOptions]="customAlertOptions" 
            interface="alert" 
            multiple="true" 
            (ionChange)=checkValue($event)
            no padding>
              <ion-select-option
              *ngFor="let option of optionList"
              [value]="option.value">
              {{ option.text }}
            </ion-select-option>
            </ion-select>
          </ion-item>

          <!-- <ion-item 
          *ngFor="let item of radioList" 
          (ionSelect)=checkValue($event)>
            <ion-label>{{ item.text }}</ion-label>
            <ion-radio 
            slot="start" 
            name="{{ item.name }}"
            [value]="item.value"
            [checked]=isChecked
            color="{{ item.color }}"
            disabled="{{ item.disabled }}"
            ></ion-radio>
          </ion-item> -->
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-xl="4" offset-xl="4" size-lg="8" offset-lg="2" size-md="12" size-sm="12" size-xs="12">
        <ion-card class="payment-card">
          <img src="/assets/stripe-logo.png">
          <ion-card-header text-center>
            <ion-card-subtitle>
              <a href="https://stripe.com/" target="_blank">Click here to explore Stripe Payments</a>
            </ion-card-subtitle>
            <ion-card-title>
              Payments to SFCA
            </ion-card-title>
            <ion-row text-center>
              <ion-col>
                Total Payment
              </ion-col>
              <ion-col>
                {{ paymentAmount / 100 | currency }}
              </ion-col>
            </ion-row>
          </ion-card-header>
          <ion-card-content>
            <ion-progress-bar *ngIf="loading" type="indeterminate"></ion-progress-bar>
            <form>
              <div #cardElement>
                <!-- A Stripe Element will be inserted here. -->
              </div>
              <!-- Used to display Element errors. -->
              <p class="card-error">{{ cardErrors }}</p>
              <p class="charge-success" *ngIf="chargeSuccess">You're card has been charged . A receipt has been sent to {{ confirmation.receipt_email }}.<br>
                <a [attr.href]="confirmation.receipt_url" target="_blank">View your receipt here.</a></p>
              <ion-button *ngIf="totalPayment > 0 && !chargeSuccess" (click)="handleForm($event)">Send {{ paymentAmount / 100 | currency }} to SFCA</ion-button>
            </form>
            <ion-progress-bar *ngIf="loading"></ion-progress-bar>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <app-footer></app-footer>
</ion-content>