<ion-header>
  <ion-toolbar mode="md">
    <ion-buttons slot="start">
      <ion-menu-button color="primary"></ion-menu-button>
    </ion-buttons>
    <img slot="start" width="139px" height="85px" src="/assets/sfca-logo.jpg" (click)="goHome()">
    <ion-title slot="start" color="secondary">Payment</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="outline" shape="round" color="tertiary" (click)="logOut()">Logout</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="goToMember()">
      <ion-icon name="arrow-back-circle"></ion-icon>
    </ion-fab-button>
    &nbsp;Member
  </ion-fab>
  <ion-grid>
    <ion-row>
      <ion-col size="12" class="ion-text-center">
        <h1>Member Payments</h1>
        <p>There are multiple ways to submit your dues!</p>
        <p>{{ currentYear }} Dues </p>
          <ul class="payments">
              <li class="payments-color">Annual Dues - $350</li>
              <!-- <li class="payments-color">Contribution for Additional Security - $50</li>
              <li class="payments-color">Contribution for SFCA Beautification - $50</li> -->
            </ul>
        <h3>Choose From 4 Payment Options Below</h3>
      </ion-col>
      <ion-col size-xl="6" offset-xl="3" size-lg="12" size-md="12" size-sm="12" size-xs="12">
          <ion-item (click)="checkOption()" lines="full" color="primary">
            <ion-icon name="wallet" slot="start"></ion-icon>
            <ion-label>Pay by Check</ion-label>
          </ion-item>
          <ion-card *ngIf="showCheck">
            <ion-card-title>
              Drop off Check:
            </ion-card-title>
            <ion-card-subtitle>Sign Check to: Sherwood Forest Civic Associaton</ion-card-subtitle>
            <ion-card-content>
              Lou Grill<br>
              1730 Barnesdale Way NE<br>
              Atlanta GA 30309
            </ion-card-content>
          </ion-card>
          <ion-card *ngIf="showCheck">
              <ion-card-title>
                Mail Check:
              </ion-card-title>
              <ion-card-subtitle>Sign Check to: Sherwood Forest Civic Associaton</ion-card-subtitle>
              <ion-card-content>
                Sherwood Forest Civic Association<br>
                PO Box 570291<br>
                Atlanta GA 30357
              </ion-card-content>
            </ion-card>
      </ion-col>
      <ion-col size-xl="6" offset-xl="3" size-lg="12" size-md="12" size-sm="12" size-xs="12">
        <ion-item (click)="billPayOption()" lines="full" color="primary">
            <ion-icon name="cash" slot="start"></ion-icon>
            <ion-label>BillPay Via Your Bank</ion-label>
        </ion-item>
        <ion-card *ngIf="showBillPay">
            <ion-card-title>
              BillPay Via Your Bank:
            </ion-card-title>
            <ion-card-content>
              Sherwood Forest Civic Association<br>
              PO Box 570291<br>
              Atlanta GA 30357<br>
              <hr>
              Include your address and street name for the account number<br>
              <i>Ex: 1630 Nottingham Way</i><br>
              <hr>
              If phone number needed, use 678-427-1336
            </ion-card-content>
          </ion-card>
      </ion-col>
      <ion-col size-xl="6" offset-xl="3" size-lg="12" size-md="12" size-sm="12" size-xs="12">
        <ion-item (click)="venmoOption()" lines="full" color="primary">
            <ion-icon name="phone-portrait" slot="start"></ion-icon>
            <ion-label>Pay by Venmo</ion-label>
        </ion-item>
        <ion-card *ngIf="showVenmo">
          <ion-card-title>
            Pay by Venmo:
          </ion-card-title>
          <ion-card-content>
            Open your Venmo app on your mobile device
            <hr>
            In the search field, enter @SFCivicAssoc
            <hr>
            Enter the amount you're submitting
            <hr>
            Type in your name and address in the field below
            <hr>
            Edit if you want to keep your payment "private" or "public"
            <hr>
            Click the "Pay" button to submit your secure payment
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size-xl="6" offset-xl="3" size-lg="12" size-md="12" size-sm="12" size-xs="12">
        <ion-item (click)="creditCardOption()" lines="full" color="primary">
            <ion-icon name="card" slot="start"></ion-icon>
            <ion-label>Pay by Credit Card</ion-label>
        </ion-item>
        <ion-card *ngIf="showCreditCard">
          <ion-card-title>
            Pay by Credit Card
          </ion-card-title>
          <ion-card-content>
            <ion-item color="tertiary">
              <ion-label color="light">
                <b>Click Here to Choose Payments</b>
              </ion-label>
                <ion-select
                [interfaceOptions]="customAlertOptions"
                interface="alert" 
                multiple="true" 
                (ionChange)=checkValue($event)
                no padding>
                  <ion-select-option
                  *ngFor="let option of optionList"
                  [value]="option"
                  [disabled]="option.disabled">
                  {{ option.text }}
                </ion-select-option>
                </ion-select>
            </ion-item>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-xl="6" offset-xl="3" size-lg="12" size-md="12" size-sm="12" size-xs="12">
        <ion-card 
        [ngClass]="{ 'payment-card': showCreditCard, 'hide-payment-card': !showCreditCard }">
          <img src="/assets/pay-sfca-card.jpg">
          <ion-card-header class="ion-text-center">
            <ion-card-title>
              Your Payments to SFCA
            </ion-card-title>
            <ion-row class="ion-text-center">
              <ion-col
              *ngFor="let optText of payOptionText"
              class="pay-options"
              size="12">
                {{ optText }}
              </ion-col>
              <ion-col size="12">
                Total: {{ paymentAmount / 100 | currency }}
              </ion-col>
            </ion-row>
          </ion-card-header>
          <hr>
          <ion-card-content>
            <ion-progress-bar *ngIf="loading" type="indeterminate"></ion-progress-bar>
            <form>
              <div #cardElement>
                
              </div>
              
              <p class="card-error">{{ cardErrors }}</p>
              <p class="charge-success" *ngIf="chargeSuccess">You're card has been charged . A receipt has been sent to {{ confirmation.receipt_email }}.<br>
                <a [attr.href]="confirmation.receipt_url" target="_blank">View your receipt here.</a></p>
              <div class="ion-text-center">
                  <ion-button *ngIf="totalPayment > 0 && !chargeSuccess" 
                    [disabled]="loading" (click)="handleForm($event)">
                    Send {{ paymentAmount / 100 | currency }} to SFCA Now
                  </ion-button>
              </div>
            </form>
            <ion-progress-bar *ngIf="loading"></ion-progress-bar>
            <hr>
            <ion-row>
              <ion-col size-xl="2" size-lg="2" size-md="2" size-sm="2" size-xs="6">
                <a href="https://stripe.com/customers" target="_blank">
                <img src="/assets/powered-by-stripe-small.png" alt="powered by stripe"></a>
              </ion-col>
              <ion-col size-xl="10" size-lg="10" size-md="10" size-sm="10" size-xs="6">
                <a href="https://stripe.com/docs/security/stripe" target="_blank">
                  <i>Secure & PCI Compliant</i>
                </a>  
              </ion-col>      
            </ion-row>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
  <app-footer></app-footer>
</ion-content>