.payment-card {
  margin: 0px auto;
  width: 50vw;
  max-width: 50vw;
}

.payment-card img {
  max-height: 35vh;
  overflow: hidden;
}

.card-error {
  text-align: center;
  font-weight: bold;
  color: var(--ion-color-danger) !important;
}