hr {
  border-top: 1px solid var(--ion-color-secondary);
}

.pay-options {
  font-weight: bold;
  font-size: 1.3em;
}

.payment-card {
  margin: 0px auto;
  width: 100%;
  max-width: 100%;
}

.hide-payment-card {
  margin: 0px auto;
  width: 100%;
  height: 1px;
  max-width: 100%;
  overflow: hidden;
}

.payment-card img {
  max-height: 35vh;
  overflow: hidden;
}

.card-error {
  text-align: center;
  font-weight: bold;
  color: var(--ion-color-danger) !important;
}

.charge-success {
  text-align: center;
  font-weight: bold;
  color: var(--ion-color-success) !important;
}
