<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col text-center>
      <h2>Member Logout</h2>
      <ion-button fill="clear" (click)="closeModal()">Cancel</ion-button>
      <ion-button type="submit" (click)="logoutMember()">Logout</ion-button>
    </ion-col>
    <ion-col text-center>
      <h2>Member Password Update</h2>
      <ion-button fill="clear" (click)="closeModal()">Cancel</ion-button>
      <ion-button type="submit" (click)="resetPassword()">Reset Password</ion-button>
    </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
