<ion-row>
  <ion-col size="12" text-center>
    <div *ngIf="percentage | async as pct">
      <progress [value]="pct" max="100"></progress>
      {{ pct | number }}%
    </div>
    
    
    
    <div *ngIf="snapshot | async as snap">
    
      {{ snap.bytesTransferred }} of {{ snap.totalBytes }}
    
      <div *ngIf="downloadURL as url">
        <h3>New Profile Image</h3>
        <img [src]="url"><br>
        <!-- <a [href]="url" target="_blank" rel="noopener">Download Me!</a> -->
      </div>
      <ion-button fill="outline" (click)="task.pause()" [disabled]="!isActive(snap)">Pause</ion-button>
      <ion-button fill="outline" (click)="task.cancel()" [disabled]="!isActive(snap)">Cancel</ion-button>
      <ion-button fill="outline" (click)="task.resume()" [disabled]="!(snap?.state === 'paused')">Resume</ion-button>
    </div>
  </ion-col>
</ion-row>