<ion-content>
    <ion-toolbar text-center>
        <h1>Update Your Member Profile</h1>
        <ion-buttons slot="end">
            <ion-button shape="round" size="small" fill="solid"
                        color="warning" (click)="closeModal()">
                Cancel
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
    <app-user-form></app-user-form>
    <ion-toolbar>
        <ion-buttons slot="end">
            <ion-button shape="round" size="small" fill="solid"
                        color="warning" (click)="closeModal()">
                Cancel
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-content>

