ion-content {
  --background: url(/assets/WoodFenceGreenIvy.jpg);
  --background-position: center;
  --background-repeat: no-repeat;
  --background-size: cover;
}

ion-label {
  --color: var(--ion-color-primary-shade) !important;
  font-weight: bold;
  font-size: 1.5em !important;
}

ion-item {
  --background: transparent;
}

ion-toolbar {
  --background: rgba(255,255,255, 0.3);
  --padding-start: none;
  --padding-end: none;
}

ion-input {
  --background: rgba(255,255,255, 0.3);
  font-size: 1.5em !important;
  --color: var(--ion-color-secondary-shade);
}

.centerAvatar {
    display: block;
    margin: 0px auto;
    width:50% !important;
    height : 50% !important;
    max-width: 50vw !important;
    max-height: 50vh !important;
  }

.spAvatar {
  display: block;
  margin: 2em 2em 0em 0em;
  width:25% !important;
  height : 25% !important;
  max-width: 25vw !important;
  max-height: 25vh !important;
}

.formInfo {
  font-style: italic;
  font-size: .8em;
}