<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start" color="primary"></ion-menu-button>
    <ion-img slot="start" src="/assets/sfca-logo.jpg"></ion-img>
    <ion-img slot="end" src="/assets/trees.png"></ion-img>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" class="ion-text-center home-image">
        <ion-img @growImg src="/assets/ForestTannion2019.jpg"></ion-img>
        <h1 class="home-title1" @slideTitleRight>Welcome to Sherwood Forest</h1>
        <h1 class="home-title2" @slideTitleLeft>Civic Association</h1>
      </ion-col>
      <ion-col class="home-format" size="12">
        <p>Welcome! Sherwood Forest is an urban neighborhood within
          Fulton County in the City of Atlanta. Established in 1949, Sherwood Forest was a
          premium post WWII neighborhood, and remains so today. Our neighborhood consists of 200
          homes with the majority being owner occupied.</p>
          <p>Sherwood Forest Civic
          Association is an active community organization maintaining the essential
          business of the neighborhood and providing fun events to encourage and
          promote social engagement.</p>
        <p class="ion-text-center" *ngIf="!isLoggedIn">SFCA Members,
          <a (click)="presentLoginModal()">please login</a>
          for full access and information.</p>
      </ion-col>
    </ion-row>
    <ion-card class="welcome-card">
      <ion-img src="/assets/ForestTannion2019More.jpg"></ion-img>
      <ion-card-header class="ion-text-center">
        <ion-card-title>Key Contacts</ion-card-title>
      </ion-card-header>
      <ion-card-content class="ion-text-center">
        <ion-row class="ion-text-center ion-justify-content-center">
          <ion-col class="ion-text-center ion-padding" *ngFor="let key of keyContacts">
            <div routerLink="/public/contact" >
              <ion-avatar><ion-img src="{{ key.photoURL }}"></ion-img></ion-avatar>
              <h2>{{ key.displayName.firstName}} {{ key.displayName.lastName}}</h2>
              <h3>{{ key.boardTitle }}</h3>
              <p *ngIf="isLoggedIn">{{ key.boardEmail }}</p>
            </div>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
    <ion-row>
      <ion-col class="home-format">
        <ion-list lines="none">
          <ion-list-header>
            <h2>Fun Facts</h2>
          </ion-list-header>
          <ion-item-divider color="primary">
            <h3>Collier Woods</h3>
          </ion-item-divider>
          <ion-item>
            <p>Sherwood Forest was originally known as
              Collier Woods. Collier Woods spanned some 2,000 acres with Sherwood Forest being the
              last area to be developed. The original Collier house still stands within our neighborhood,
              and as of February 2019, it is a newly-listed resource of the
              Georgia Register of Historic Places, and
              <a href="https://firebasestorage.googleapis.com/v0/b/sherwood-forest-5b7f0.appspot.com/o/articles%2FCollierPerryBentleyHouseSummary.pdf?alt=media&token=23e18e2b-834b-480b-bcf2-2864cfafae0a" target="_blank">
                now being evaluated</a> for listing on the National Register of Historic Places.<br><br>
              <a href="https://georgiashpo.org/eleven-resources-added-georgia-register-historic-places" target="_blank">
                Read about the Georgia National Register Review Board Meeting</a>
              held on February 22, 2019.<br><br>
              <a href="https://firebasestorage.googleapis.com/v0/b/sherwood-forest-5b7f0.appspot.com/o/articles%2F1649LM-AJC-2004-08-07-small.pdf?alt=media&token=3334d896-979c-4d3d-8c9f-0a4e94e88cd2" target="_blank">
                Read the AJC article from 8/7/2004.</a>
              <i> Thanks to Verna and William Cleveland for submitting the paper.</i>
             </p>
          </ion-item>
          <ion-item-divider color="primary">
            <h3>Trees Atlanta</h3>
          </ion-item-divider>
          <ion-item>
            <p>
              Trees Atlanta has awarded Sherwood Forest Neighborhood of the Year through their annual 
              Tree Champions Award for 2020!
            </p>
          </ion-item>
          <ion-item>
            <p>
              This award especially recognized the hard work of Olivia Dennison for her 
              “dedication and willingness to help from beginning to end, ultimately, leading to a larger 
              more successful project.” Olivia was the instigator of the last several years of Tree Atlanta 
              community planting events in Sherwood Forest and is known for her enthusiasm and future foresight 
              to continually build a healthy future forest within the neighborhood. Acknowledgement from 
              Trees Atlanta in the form of this award shows how much can be achieved by one person inspiring others to care. To all of the Tree Watch committee, congratulations!
            </p>
          </ion-item>
          <ion-item> 
            <p>Our neighborhood has two Champion Trees! <a href="https://www.arcgis.com/home/webmap/viewer.html?webmap=ec627392a74d4885a970f59c984dc5aa&extent=-84.7763,33.5244,-83.7621,33.997" target="_blank">
              View the 2020 map here.</a> What are they, you ask? Trees Atlanta states, "A Champion Tree is determined
              based on measurements of its trunk circumference, its height, and the average spread of the crown.
              Atlanta’s Champion Trees are of course just a small sampling of the hundreds of beautiful tree species
              found across the country." Find out more at 
              <a href="https://www.treesatlanta.org/resources/atlantas-champion-trees/" target="_blank">
                Trees Atlanta!</a>
              <a href="https://treesatlanta.org" target="_blank">
                <img style="display:block; margin-left:auto; margin-right:auto; width:25%;" src="/assets/TreesAtlantaLogo.png"></a>
            </p>
          </ion-item>
          <ion-item-divider color="primary">
            <h3>Garden Club</h3>
          </ion-item-divider>
          <ion-item>
            <p>Sherwood Forest Garden Club was established in the early 1950’s and is
              still a thriving neighborhood club with monthly meetings providing
              knowledgeable speakers and an annual luncheon.</p>
          </ion-item>
          <ion-item-divider color="primary">
            <h3>Residents</h3>
          </ion-item-divider>
          <ion-item>
            <p>As of April 2019, the age range of residents in Sherwood Forest is from 5
              months to 101.</p>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <app-footer></app-footer>
  </ion-grid>
</ion-content>
