<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start" color="primary"></ion-menu-button>
    <ion-img slot="start" src="/assets/sfca-logo.jpg"></ion-img>
    <ion-img slot="end" src="/assets/trees.png"></ion-img>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" class="ion-text-center home-image">
        <ion-img @growImg src="/assets/ForestTannion2019.jpg"></ion-img>
        <h1 class="home-title1" @slideTitleRight>Welcome to Sherwood Forest</h1>
        <h1 class="home-title2" @slideTitleLeft>Civic Association</h1>
      </ion-col>
      <ion-col class="home-format" size="12">
        <p>Welcome! Sherwood Forest is an urban neighborhood within
          Fulton County in the City of Atlanta. Established in 1949, Sherwood Forest was a
          premium post WWII neighborhood, and remains so today. Our neighborhood consists of 200
          homes with the majority being owner occupied.</p>
          <p>Sherwood Forest Civic
          Association is an active community organization maintaining the essential
          business of the neighborhood and providing fun events to encourage and
          promote social engagement.</p>
        <p class="ion-text-center" *ngIf="!isLoggedIn">SFCA Members,
          <a (click)="presentLoginModal()">please login</a>
          for full access and information.</p>
      </ion-col>
    </ion-row>
    <ion-card class="welcome-card">
      <ion-img src="/assets/ForestTannion2019More.jpg"></ion-img>
      <ion-card-header class="ion-text-center">
        <ion-card-title>Key Contacts</ion-card-title>
      </ion-card-header>
      <ion-card-content class="ion-text-center">
        <ion-row class="ion-text-center ion-justify-content-center">
          <ion-col class="ion-text-center ion-padding" *ngFor="let key of keyContacts">
            <div routerLink="/public/contact" >
              <ion-avatar><ion-img src="{{ key.photoURL }}"></ion-img></ion-avatar>
              <h2>{{ key.displayName.firstName}} {{ key.displayName.lastName}}</h2>
              <h3>{{ key.boardTitle }}</h3>
              <p *ngIf="isLoggedIn">{{ key.boardEmail }}</p>
            </div>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
    <ion-row>
      <ion-col class="home-format">
        <ion-list lines="none">
          <ion-list-header>
            <h2>Fun Facts</h2>
          </ion-list-header>
          <ion-item-divider color="primary">
            <h3>Collier Woods</h3>
          </ion-item-divider>
          <ion-item>
            <p>Sherwood Forest was originally known as
              Collier Woods. Collier Woods spanned some 2,000 acres with Sherwood Forest being the
              last area to be developed. The original Collier house still stands within our neighborhood,
              and as of February 2019, it is a newly-listed resource of the
              Georgia Register of Historic Places, and
              <a href="https://firebasestorage.googleapis.com/v0/b/sherwood-forest-5b7f0.appspot.com/o/articles%2FCollierPerryBentleyHouseSummary.pdf?alt=media&token=23e18e2b-834b-480b-bcf2-2864cfafae0a" target="_blank">
                now being evaluated</a> for listing on the National Register of Historic Places.<br><br>
              <a href="https://firebasestorage.googleapis.com/v0/b/sherwood-forest-5b7f0.appspot.com/o/articles%2F1649LM-AJC-2004-08-07-small.pdf?alt=media&token=3334d896-979c-4d3d-8c9f-0a4e94e88cd2" target="_blank">
                Read the AJC article from 8/7/2004.</a>
              <i> Thanks to Verna and William Cleveland for submitting the paper.</i>
             </p>
          </ion-item>
          <ion-item-divider color="primary">
            <h3>SFCA Tree Watch</h3>
          </ion-item-divider>
          <ion-item>
            <p>
              Did you know Sherwood Forest lost 35 big trees in the last year!
              <a href="https://firebasestorage.googleapis.com/v0/b/sherwood-forest-5b7f0.appspot.com/o/documents%2F2021%2FTreeWatch%2FSherwoodForestCanopy.pdf?alt=media&token=9216e5db-dc5e-48a1-ae9c-fd9029ddf584" 
              target="_blank">Download the SFCA Tree Canopy Document.</a>
            </p>
          </ion-item>
          <ion-item>
            <p>
              <b>Tree Protection Ordinance (TPO) Update - June 14, 2021.</b><br><br>
              The city council put aside the TPO to pass the budget, setting the end of June 
              or early July as a goal for voting on the ordinance.<br><br>
              Michael Julian Bond officially introduced the Citizen’s Blended Draft to the 
              City Council, so it is on the table along with the city’s version.<br><br>
              Matt Westmoreland, Jennifer Ide, and JP Matzigkeit are leading the work on the new 
              ordinance. Hopefully there will be a work day and an opportunity to call in and 
              voice your vote.<br><br>
              There are many issues to resolve, the largest is still the <b>Priority Tree Preservation 
                Standard</b> which allows Priority trees to be taken off the top without any appeal 
              or recompense. The city says this will save trees but the citizen’s group disagrees 
              and says it will give developers freedom to take the best of all trees without consequences.
              <a href="https://firebasestorage.googleapis.com/v0/b/sherwood-forest-5b7f0.appspot.com/o/documents%2F2021%2FTreeWatch%2FAtlantaTreeProtectionOrdinanceCitizensBlendedDraft.pdf?alt=media&token=a783c080-29db-4ca3-b290-2f9650b6baac" 
              target="_blank"> Click here to download complete information.</a>
            </p>
          </ion-item>
          <ion-item>
            <p>For more information on Tree Watch or the TPO call Martha Eskew: 404-786-0262
              <img style="display:block; margin-top: 10px; margin-left:auto; margin-right:auto; width:25%;" src="../../../assets/TreeWatch/MarthaEskew.jpg">
            </p>
          </ion-item>
          <ion-item>
            <p>
              Trees Atlanta has awarded Sherwood Forest Neighborhood of the Year through their annual 
              Tree Champions Award for 2020! <a href="https://www.arcgis.com/home/webmap/viewer.html?webmap=f9cfd95489324e338bdb04384b2bcf30&extent=-84.3883,33.7966,-84.3725,33.804"
              target="_blank">View our Sherwood Forest Tree Inventory.</a>
            </p>
          </ion-item>
          <!-- <ion-item>
            <p>
              Through the efforts of SFCA Tree Watch our neighborhood is becoming known for our 
              care and enthusiasm for protecting our canopy and building for a healthy future 
              forest. To the Tree Watch Committee, congratulations! The Committee includes Carl Fowler, 
              Martha Eskew, Olivia Dennison, Tovah Choudhury, and Sylvia Wilkes.
              <i>(To see all pictures, use arrows or swipe on touch devices)</i>
            </p>
          </ion-item> -->
          <!-- <ion-row  (mouseover)="showSlideButtons()" (mouseleave)="hideSlideButtons()"
          (touchstart)="showSlideButtons()">
            <ion-col size="2" class="ion-align-self-center ion-text-center">
              <div *ngIf="showPrevNext" (click)="toPrevSlide()" 
              (touchstart)="toPrevSlide()" (touchend)="showSlideButtons()">
                <ion-icon size="large" slot="icon-only" name="arrow-back-circle-outline"></ion-icon>
              </div>
            </ion-col>
            <ion-col size="8">
              <ion-slides #myTreeSlider pager="true" scrollbar="true" [options]="slideOpts" (ionSlidesDidLoad)="slidesDidLoad(myTreeSlider)">
                <ion-slide>
                  <ion-card>
                    <img src="/assets/TreesAtlantaOlivia2020.jpg">
                    <ion-card-subtitle>
                      Olivia Dennison
                    </ion-card-subtitle>
                    <ion-card-content>
                      Trees Atlanta Tree Champion 2020: Sherwood Forest
                    </ion-card-content>
                  </ion-card>
                </ion-slide>
                <ion-slide>
                  <ion-card>
                    <img src="/assets/TreesAtlantaGroup2020.jpg">
                    <ion-card-subtitle>
                      Tree Watch Committee
                    </ion-card-subtitle>
                    <ion-card-content>
                      Martha Eskew, Olivia Dennison, Sylvia Wilks, Carl Fowler, and Tovah Choudhury
                    </ion-card-content>
                  </ion-card>
                </ion-slide>
                <ion-slide>
                  <ion-card>
                    <img src="/assets/TreesAtlantaMaska2020.jpg">
                    <ion-card-subtitle>
                      Tree Watch Committee
                    </ion-card-subtitle>
                    <ion-card-content>
                      Martha Eskew, Olivia Dennison, Sylvia Wilks, Carl Fowler, and Tovah Choudhury
                    </ion-card-content>
                  </ion-card>
                </ion-slide>
                <ion-slide>
                  <ion-card>
                    <img src="/assets/TreesAtlantaHug2020.jpg">
                    <ion-card-subtitle>
                      Tree Watch Committee
                    </ion-card-subtitle>
                    <ion-card-content>
                      Olivia Dennison, Carl Fowler, Sylvia Wilks, Tovah Choudhury, and Martha Eskew
                    </ion-card-content>
                  </ion-card>
                </ion-slide>
              </ion-slides>
            </ion-col>
            <ion-col size="2" class="ion-align-self-center ion-text-center">
              <div *ngIf="showPrevNext" (click)="toNextSlide()" 
              (touchstart)="toNextSlide()" (touchend)="showSlideButtons()">
                <ion-icon size="large" slot="icon-only" name="arrow-forward-circle-outline"></ion-icon>
              </div>
            </ion-col>
          </ion-row> -->
          <ion-item> 
            <p>Our neighborhood has two Champion Trees! <a href="https://taatl.maps.arcgis.com/apps/View/index.html?appid=57c209bd9c194cb2b8f58bbf3f9831ee&extent=-84.5603,33.6783,-84.0254,33.9656" target="_blank">
              View the 2020 Atlanta Champion Tree map here.</a> What are they, you ask? Trees Atlanta states, "A Champion Tree is determined
              based on measurements of its trunk circumference, its height, and the average spread of the crown.
              Atlanta's Champion Trees are of course just a small sampling of the hundreds of beautiful tree species
              found across the country." <a href=" https://www.treesatlanta.org/who-we-are/" target="_blank">
              Click here for more information about Trees Atlanta.</a>
            </p>
          </ion-item>
          <ion-item-divider color="primary">
            <h3>Garden Club</h3>
          </ion-item-divider>
          <ion-item>
            <p>
            <b>Membership Drive Underway!</b><br><br>
            All Sherwood Forest neighbors are invited to join the Sherwood Forest Garden Club. The dues per household are $25 and can 
            be paid via Venmo, PayPal or Check. Please include your name and "SFGC Dues" in the memo.
            <br><br>Venmo: @kori-bishop,
            <br>PayPal: kori.bishop@gmail.com,
            <br>Check: made payable to Sherwood Forest Garden Club and mailed to/dropped off at 240 Little John Trail, c/o Kori Bishop.
            <br><br>If you are new to the Garden Club, we will follow up with a membership form.
            </p>
          </ion-item>
          <ion-item>
            <p>The Garden Club focuses on celebrating the Forest's heritage, fostering a spirit of camaraderie among neighbors, events to 
              learn from experts and neighbors about gardening and other related topics, welcoming new neighbors, and providing support to 
              our older neighbors.
            </p>
          </ion-item>
          <ion-item>
            <p>
              For more information about the Sherwood Forest Garden Club, please contact Marylou Foley 
              at <a href="mailto:mlhfoley@comcast.net?subject=Garden Club Information Request">mlhfoley@comcast.net</a>, 
              or Grace Quinn at <a href="mailto:graceandbillquinn@gmail.com?subject=Garden Club Information Request">
                graceandbillquinn@gmail.com</a>.
            </p>
          </ion-item>
          <ion-item-divider color="primary">
            <h3>Islands of Sherwood Forest</h3>
          </ion-item-divider>
          <ion-item>
            <p>On August 15, 2020, Roundabout Island was renamed Jeness Island, located at Robin Hood 
              and the south end of Doncaster. This is thanks to the tireless effort of our dedicated resident, 
               Cynthia (Cindy) Jeness, who has been committed to keeping our islands pristine for the past 7 years.
            </p>
          </ion-item>
          <ion-item>
            <ion-card class="center-card">
              <img src="/assets/IslandsOfSherwoodForest2020.jpg">
              <ion-card-content class="ion-text-center">
                Entrance, Jeness, Redbud, Banana, Robin Hood, Magnolia, and Memorial Bench
              </ion-card-content>
            </ion-card>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <app-footer></app-footer>
  </ion-grid>
</ion-content>
