<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start" color="primary"></ion-menu-button>
    <ion-img slot="start" src="/assets/sfca-logo.jpg"></ion-img>
    <ion-img slot="end" src="/assets/trees.png"></ion-img>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12" class="home-image" text-center>
        <ion-img src="/assets/ForestTannion2019.jpg"></ion-img>
        <h1 class="home-title">Welcome to Sherwood Forest Civic Association</h1>
      </ion-col>
      <ion-col class="home-format" size="12">
        <p>Welcome! Sherwood Forest neighborhood is an urban forest within
          Fulton
          County in the City of Atlanta. Established in 1949, Sherwood Forest was once
          one of the premium post WWII neighborhoods. Our neighborhood consists of 200
          homes with the majority being owner occupied.</p>
          <p>Sherwood Forest Civic
          Association is an active community organization maintaining the essential
          business of the neighborhood and providing fun events to encourage and
          promote social engagement.</p>
      </ion-col>
    </ion-row>
    <ion-card class="welcome-card">
      <ion-img src="/assets/ForestTannion2019More.jpg"></ion-img>
      <ion-card-header text-center>
        <ion-card-title>Key Contacts</ion-card-title>
      </ion-card-header>
      <ion-card-content text-center>
        <h2>2019 - 2021 Board Members</h2>
        <ion-row>
          <ion-col text-center>
            <a routerLink="/public/contact">
              <ion-avatar><ion-img src="/assets/GreenLeaf.jpg"></ion-img></ion-avatar>
              <h2>Derk Weinheimer</h2>
              <h4>President</h4>
              <p>Nulla quam velit, vulputate eu pharetra nec, mattis ac neque.</p>
            </a>
          </ion-col>
          <ion-col text-center>
            <a routerLink="/public/contact">
              <ion-avatar><ion-img src="/assets/GreenLeaf.jpg"></ion-img></ion-avatar>
              <h2>Humberto Garcia-Sjogrim</h2>
              <h4>Land Use</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </a>
          </ion-col>
          <ion-col text-center>
            <a routerLink="/public/contact">
              <ion-avatar><ion-img src="/assets/GreenLeaf.jpg"></ion-img></ion-avatar>
              <h2>Nicola Tannion</h2>
              <h4>Communications</h4>
              <p>Duis vulputate commodo lectus, ac blandit elit tincidunt id.</p>
            </a>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
    <ion-row>
      <ion-col class="home-format">
        <ion-list lines="none">
          <ion-list-header>
            <h3>Fun Facts</h3>
          </ion-list-header>
          <ion-item-divider>

          </ion-item-divider>
          <ion-item>
            <ion-icon slot="start" color="medium" name="information-circle"></ion-icon>
            <ion-text>Sherwood Forest was originally known as
              Collier Woods. Collier Woods spanned some 2000 acres with Sherwood Forest being the
              last area to be developed. The original Collier house still stands within our neighborhood
              and has recently been nominated as a building of historical importance by
              the Atlanta Preservation Center.<br><br>
              <a href="https://firebasestorage.googleapis.com/v0/b/sherwood-forest-5b7f0.appspot.com/o/articles%2F1649LM-AJC-2004-08-07-small.pdf?alt=media&token=3334d896-979c-4d3d-8c9f-0a4e94e88cd2" target="_blank">
                Read the AJC article from 8/7/2004.
              </a><i>Thanks to Verna and William Cleveland for submitting the paper.</i>
             </ion-text>
          </ion-item>
          <ion-item-divider>

          </ion-item-divider>
          <ion-item>
            <ion-icon slot="start" color="medium" name="information-circle"></ion-icon>
            <ion-text>Sherwood Forest Garden Club was established in the early 1950’s and is
              still a thriving neighborhood club with monthly meetings providing
              knowledgeable speakers and an annual luncheon.</ion-text>
          </ion-item>
          <ion-item-divider>

          </ion-item-divider>
          <ion-item>
            <ion-icon slot="start" color="medium" name="information-circle"></ion-icon>
            <ion-text>As of April 2019, the age range of residents in Sherwood Forest is from 5
              months to 101.</ion-text>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <app-footer></app-footer>
  </ion-grid>
</ion-content>
