.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}

.welcome-card a {
  text-decoration: none;
  color: var(--ion-dark-tint);
}

ion-avatar {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.home-image {
  position: relative;
  text-align: center;
}

.home-title {
  position: absolute;
  top: 30%;
  width: 100%;
  font-size: 6vw;
  text-shadow: 3px 3px 8px #000000;
  font-weight: bold;
  color: #ffffff;
}
