ion-card-title {
  font-size: 1.8em;
}

ion-card-subtitle {
  font-size: 1.3em;
}

ion-card-content h1 {
  font-size: 1.8em;
}

ion-card-content h2 {
  font-size: 1.6em;
}

ion-card-content h3 {
  font-size: 1.5em;
}

ion-card-content p {
  font-size: 1.3em;
}

ion-avatar {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

ion-slides {
  padding-bottom: 3%;
  height: 100%;
}

a {
  cursor: pointer;
  text-decoration: underline;
}

.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}

.welcome-card a {
  text-decoration: none;
  color: var(--ion-dark-tint);
}

.home-image {
  position: relative;
  text-align: center;
}

.home-title1 {
  position: absolute;
  top: 30%;
  width: 100%;
  font-size: 5vw;
  text-shadow: 3px 3px 8px #000000;
  font-weight: bold;
  color: #ffffff;
}

.home-title2 {
  position: absolute;
  top: 45%;
  width: 100%;
  font-size: 5vw;
  text-shadow: 3px 3px 8px #000000;
  font-weight: bold;
  color: #ffffff;
}

.home-format {
  padding: 0 10%;
}

.center-card {
  display:block;
  margin-left:auto;
  margin-right:auto;
}
