<ion-header>
  <ion-toolbar mode="md">
    <ion-buttons slot="start">
      <ion-menu-button color="primary"></ion-menu-button>
    </ion-buttons>
    <img slot="start" width="139px" height="85px" src="/assets/sfca-logo.jpg" (click)="goHome()">
    <ion-title slot="start" color="secondary">Directory</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="outline" shape="round" color="tertiary" (click)="logOut()">Logout</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-img src="../../assets/atlanta-midtown.jpg"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col padding size-xl="4" size-lg="6" size-md="6" size-sm="12" size-xs="12" class="ion-align-self-center">
        <ion-row>
          <ion-col size="6">
            <img  src="../../assets/number9.png">
          </ion-col>
          <ion-col size="6" text-center>
            <h2 class="h-font">Directory<br>of<br>SFCA Residents</h2>
            <p class="p-font p-background">Click the mailbox buttons to search by firstname, last name, or street name</p>
          </ion-col>
        </ion-row>
        <p class="p-font p-background">Welcome to the Sherwood Forest neighborhood directory.
          Feel free to <a routerLink="/member">update information</a> pertaining to your household with added features
        including children and pets.</p>
        <p class="p-font"><i>* All information here is confidential and cannot be used, sold,
        or shared with people outside of the neighborhood</i></p>
      </ion-col>
      <ion-col class="directory" size-xl="4" size-lg="6" size-md="6" size-sm="12" size-xs="12">
        <img class="directory-img" src="../../assets/mailbox.png">
        <div class="directory-search">
            <ion-searchbar showCancelButton="always" (ionInput)="filterByFirstName($event)"
                       *ngIf="filterBy == 'firstName'" placeholder="Search by First Name">
            </ion-searchbar>
          <ion-searchbar showCancelButton="always" (ionInput)="filterByLastName($event)"
                         *ngIf="filterBy == 'lastName'" placeholder="Search by Last Name">
          </ion-searchbar>
          <ion-searchbar showCancelButton="always" (ionInput)="filterByAddress($event)"
                         *ngIf="filterBy == 'address'" placeholder="Search by Address">
          </ion-searchbar>
          <ion-toolbar text-center class="toolbar-buttons">
              <ion-button size="small" [color]="statusFirst" (click)="queryFirstName()">
                  First Name
              </ion-button>
            <ion-button size="small" [color]="statusLast" (click)="queryLastName()">
              Last Name
            </ion-button>
            <ion-button size="small" [color]="statusAddress" (click)="queryAddress()">
              Address
            </ion-button>
          </ion-toolbar>

        </div>
        <div class="directory-result">
          <ion-item *ngFor="let user of users" lines="full" value="user.uid" (click)="presentDirectoryModal(user)">
            <ion-avatar>
              <img src="{{ user.photoURL }}">
            </ion-avatar>
            <ion-label text-wrap>
              <ion-text>
                <h1>{{ user.displayName.firstName + ' ' + user.displayName.lastName }}</h1>
              </ion-text>
              <ion-text>
                <h1>{{ user.address.streetNumber + ' ' + user.address.streetName }}</h1>
              </ion-text>
            </ion-label>
            <ion-avatar slot="end" *ngIf="user.roles.pendingMember">
              <img src="/assets/non-member.png">
            </ion-avatar>
          </ion-item>
        </div>
      </ion-col>
    </ion-row>
    <app-footer></app-footer>
  </ion-grid>
</ion-content>
