ion-title {
  text-shadow: 2px 2px var(--ion-color-primary);
  font-size: 1.5em;
}

ion-button {
  --color-activated: #ffffff;
}

ion-content {
  --background: url(/assets/directory-wall.jpg);
  --background-repeat: no-repeat;
  --background-size: cover;
}

.mailbox {
  position: relative;
}

.directory-search {
  width: 90%;
  max-width: 530px;
  position: absolute;
  top: 1%;
  left: 50%;
  transform: translateX(-50%);
}

.directory-result {
  width: 85%;
  max-width: 530px;
  height: 25em;
  overflow: scroll;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);
}

.directory-img {
  display: block;
  margin: 0 auto;
}

.toolbar-buttons {
  --background: tranparent;
}

.h-font {
  font-weight: bold;
  color: #ffffff;
  font-size: 2em;
  text-shadow: 1px 1px 2px #000000;
}

.p-font {
  font-weight: bold;
  color: #ffffff;
  font-size: 1.5em;
  text-shadow: 1px 2px 2px #000000;
}