<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start" color="primary"></ion-menu-button>
    <ion-img slot="start" src="/assets/sfca-logo.jpg" (click)="goHome()"></ion-img>
    <ion-button slot="end" color="tertiary" (click)="logOut()">Logout</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="goToSocial()">
      <ion-icon name="arrow-round-back"></ion-icon>
    </ion-fab-button>
    &nbsp;Social
  </ion-fab>
  <ion-grid>
    <ion-row>
      <ion-col size="12" class="home-image" text-center>
        <ion-img src="/assets/IslandsOfSherwoodForest.jpg"></ion-img>
        <h1 class="islands-title">Islands of Sherwood Forest</h1>
      </ion-col>
      <ion-col class="islands-format" size="12">
        <p>Each of the seven traffic islands in the neighborhood are distinct in name, planting,
          shape, and maintenance: Entrance, Roundabout, Redbud, Banana, Robin Hood,
          Magnolia, and Memorial. Here’s a little information on each unique space.</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-xl="4" size-lg="4" size-md="4" size-sm="12" size-xs="12">
        <ion-card class="welcome-card">
          <ion-img src="/assets/EntranceIslands.jpg"></ion-img>
          <ion-card-header text-center>
            <ion-card-title>Entrance Islands</ion-card-title>
            <ion-card-subtitle>Robin Hood Road & Beverly Road</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            Entrance Islands grace each person who enter the neighborhood at the north
            end from Beverly. The islands are home to the old brick and stone pillar which
            marks one of the four entrances to Sherwood Forest, the other stone pillar being at the
            Lionel Lane entrance.
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size-xl="4" size-lg="4" size-md="4" size-sm="12" size-xs="12">
        <ion-card class="welcome-card">
          <ion-img src="/assets/ForestTannion2019More.jpg"></ion-img>
          <ion-card-header text-center>
            <ion-card-title>The Roundabout Island</ion-card-title>
            <ion-card-subtitle>Robin Hood Road & Doncaster Drive</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            Roundabout Island is the only true roundabout in the neighborhood. Circular in
            shape it sits in the center of a crossroad, it is flanked by two smaller islands
            either side creating smooth traffic flow. This island containing three stone
            benches has been known to host a summer neighborhood gathering or two on a
            sunny Sunday afternoon.
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size-xl="4" size-lg="4" size-md="4" size-sm="12" size-xs="12">
        <ion-card class="welcome-card">
          <ion-img src="/assets/RedBudIsland.jpg"></ion-img>
          <ion-card-header text-center>
            <ion-card-title>Redbud Island</ion-card-title>
            <ion-card-subtitle>Nottingham Way & Pembroke Place</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            Redbud Island is a sweet island full of bird feeders and pollinator plants which
            offer sustenance to some neighborhood bees. This is the only island in
            Sherwood Forest with a lawn which requires some maintenance. Redbud Island
            also has an Australian native, the Bottlebrush tree, which is part of the myrtle
            family. And as of April 2019, a new American Linden tree calls it home.
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-xl="4" size-lg="4" size-md="4" size-sm="12" size-xs="12">
        <ion-card class="welcome-card">
          <ion-img src="/assets/ForestTannion2019More.jpg"></ion-img>
          <ion-card-header text-center>
            <ion-card-title>Banana Island</ion-card-title>
            <ion-card-subtitle>Nottingham Way & Barnesdale Way</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            Banana Island is distinct by the wild creature that stands proudly on the bend.
            The lion mysteriously appeared on Banana Island in the middle of the night in
            about 2015! Cynthia Jeness secured the lion in place and he has remained there
            since without mishap.
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size-xl="4" size-lg="4" size-md="4" size-sm="12" size-xs="12">
        <ion-card class="welcome-card">
          <ion-img src="/assets/ForestTannion2019More.jpg"></ion-img>
          <ion-card-header text-center>
            <ion-card-title>Robin Hood</ion-card-title>
            <ion-card-subtitle>Robin Hood Road & Doncaster Drive</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            Robin Hood Island is located at the bottom end of Robin Hood Road and
            Doncaster Drive.This island is triangular in shape and is key for maintaining
            safe traffic flow.
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size-xl="4" size-lg="4" size-md="4" size-sm="12" size-xs="12">
        <ion-card class="welcome-card">
          <ion-img src="/assets/ForestTannion2019More.jpg"></ion-img>
          <ion-card-header text-center>
            <ion-card-title>Magnolia Island</ion-card-title>
            <ion-card-subtitle>Friar Tuck Road & Little John Trail</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            Magnolia Island is the social island of the neighborhood, in part because it is the largest
            but also because it has a Magnolia Tree, estimated to be approximately 70 years
            old right in the center providing shade and shelter. Magnolia Island is also home
            to the first “little library” in the neighborhood providing a free space to place and
            exchange books for both children and adults.
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size-xl="4" size-lg="4" size-md="4" size-sm="12" size-xs="12">
        <ion-card class="welcome-card">
          <ion-img src="/assets/ForestTannion2019More.jpg"></ion-img>
          <ion-card-header text-center>
            <ion-card-title>Memorial Island</ion-card-title>
            <ion-card-subtitle>Lady Marion Lane & Doncaster Drive</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            Memorial Island is one of the central islands of the neighborhood. Located at the
            convergence of three inner streets, Memorial island has three benches in honor
            of neighbors who have since passed away: A sturdy Eucalyptus bench in honor
            of Sally Morris and the second a green metal bench in honor of Denton Harris
            who lived in Sherwood Forest for 48 years. The third bench is in honor of the
            Sherwood Forest Garden Club established in March 1952.
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <app-footer></app-footer>
  </ion-grid>
</ion-content>
