<ion-header>
  <ion-toolbar mode="md">
    <ion-buttons slot="start">
      <ion-menu-button color="primary"></ion-menu-button>
    </ion-buttons>
    <img slot="start" width="139px" height="85px" src="/assets/sfca-logo.jpg" (click)="goHome()">
    <ion-title slot="start" color="secondary">Islands</ion-title>
    <ion-buttons slot="end">
      <ion-button fill="outline" shape="round" color="tertiary" (click)="logOut()">Logout</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="goToSocial()">
      <ion-icon name="arrow-back-circle"></ion-icon>
    </ion-fab-button>
    &nbsp;Social
  </ion-fab>
  <ion-grid>
    <ion-row>
      <ion-col size="12" class="home-image" class="ion-text-center">
        <ion-img src="/assets/IslandsOfSherwoodForest2020.jpg"></ion-img>
        <h1 class="islands-title">Islands of Sherwood Forest</h1>
      </ion-col>
      <ion-col class="islands-format" size="12">
        <p>Each of the seven traffic islands in the neighborhood are distinct in name, planting,
          shape, and maintenance: Entrance, Jeness, Redbud, Banana, Robin Hood,
          Magnolia, and Memorial Bench. Here’s a little information on each unique space.</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-xl="4" size-lg="4" size-md="4" size-sm="12" size-xs="12">
        <ion-card class="welcome-card">
          <ion-img src="/assets/EntranceIslands.jpg"></ion-img>
          <ion-card-header class="ion-text-center">
            <ion-card-title>Entrance Islands</ion-card-title>
            <ion-card-subtitle>Robin Hood Road & Beverly Road</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            Entrance Islands grace each person who enter the neighborhood at the north
            end from Beverly. The islands are home to the old brick and stone pillar which
            marks one of the four entrances to Sherwood Forest, the other stone pillar being at the
            Lionel Lane entrance.
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size-xl="4" size-lg="4" size-md="4" size-sm="12" size-xs="12">
        <ion-card class="welcome-card">
          <ion-img src="/assets/Island-Roundabout.jpg"></ion-img>
          <ion-card-header class="ion-text-center">
            <ion-card-title>Jeness Island</ion-card-title>
            <ion-card-subtitle>Robin Hood Road & Doncaster Drive</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            In recognition of the tireless effort of our dedicated resident, Cynthia (Cindy) Jeness, 
            who has been committed to keeping our islands pristine for the past 5 years, 
            Roundabout Island has been renamed Jeness Island. A new sign has been placed 
            on the island as a token of appreciation and gratitude for all that Cindy does to keep 
            the neighborhood islands beautiful!
            Jeness Island is the only true roundabout in the neighborhood. Circular in
            shape it sits in the center of a crossroad, and it is flanked by two smaller islands
            either side creating smooth traffic flow.
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size-xl="4" size-lg="4" size-md="4" size-sm="12" size-xs="12">
        <ion-card class="welcome-card">
          <ion-img src="/assets/Island-Redbud.jpg"></ion-img>
          <ion-card-header class="ion-text-center">
            <ion-card-title>Redbud Island</ion-card-title>
            <ion-card-subtitle>Nottingham Way & Pembroke Place</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            Redbud Island is a sweet island full of bird feeders and pollinator plants which
            offer sustenance to some neighborhood bees. This is the only island in
            Sherwood Forest with a lawn which requires some maintenance. Redbud Island
            also has an Australian native, the Bottlebrush tree, which is part of the myrtle
            family. And as of April 2019, a new American Linden tree calls it home.
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size-xl="4" size-lg="4" size-md="4" size-sm="12" size-xs="12">
        <ion-card class="welcome-card">
          <ion-img src="/assets/Island-Banana.jpg"></ion-img>
          <ion-card-header class="ion-text-center">
            <ion-card-title>Banana Island</ion-card-title>
            <ion-card-subtitle>Nottingham Way & Barnesdale Way</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            Banana Island is distinct by the wild creature that stands proudly on the bend.
            The lion mysteriously appeared on Banana Island in the middle of the night in
            about 2015! Cynthia Jeness secured the lion in place and he has remained there
            since without mishap.
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size-xl="4" size-lg="4" size-md="4" size-sm="12" size-xs="12">
        <ion-card class="welcome-card">
          <ion-img src="/assets/Island-RobinHood.jpg"></ion-img>
          <ion-card-header class="ion-text-center">
            <ion-card-title>Robin Hood</ion-card-title>
            <ion-card-subtitle>Robin Hood Road & Doncaster Drive</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            Robin Hood Island is located at the bottom end of Robin Hood Road and
            Doncaster Drive.This island is triangular in shape and is key for maintaining
            safe traffic flow.
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size-xl="4" size-lg="4" size-md="4" size-sm="12" size-xs="12">
        <ion-card class="welcome-card">
          <ion-img src="/assets/Island-Magnolia.jpg"></ion-img>
          <ion-card-header class="ion-text-center">
            <ion-card-title>Magnolia Island</ion-card-title>
            <ion-card-subtitle>Friar Tuck Road & Little John Trail</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            Magnolia Island is the social island of the neighborhood, in part because it is the largest
            but also because it has a Magnolia Tree, estimated to be approximately 70 years
            old right in the center providing shade and shelter. Magnolia Island is also home
            to the first “little library” in the neighborhood providing a free space to place and
            exchange books for both children and adults.
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size-xl="4" size-lg="4" size-md="4" size-sm="12" size-xs="12">
        <ion-card class="welcome-card">
          <ion-img src="/assets/Island-MemorialBench.jpg"></ion-img>
          <ion-card-header class="ion-text-center">
            <ion-card-title>Memorial Bench Island</ion-card-title>
            <ion-card-subtitle>Lady Marion Lane & Doncaster Drive</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            Memorial Bench Island is one of the central islands of the neighborhood. Located at the
            convergence of three inner streets, Memorial island has three benches in honor
            of neighbors who have since passed away: A sturdy Eucalyptus bench in honor
            of Sally Morris and the second a green metal bench in honor of Denton Harris
            who lived in Sherwood Forest for 48 years. The third bench is in honor of the
            Sherwood Forest Garden Club established in March 1952.
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <app-footer></app-footer>
  </ion-grid>
</ion-content>
